.button-block {
    border-radius: 8px;
}

/* NAVBAR ----------------------------------------------------------------------------------------------------------- */
.navbar .navbar-hamburger {
    width: 30px;
    margin: 10px 0 0 15px;
    padding: 0;
    height: auto;
}

.navbar .navbar-hamburger .icon-bar {
    background-color: #64686d;
}

.navbar .logo-m {
    top: 5px;
}

.navbar .topbar .topbar-menu-right {
    display: inline-block;
    float: right;
    padding-right: 15px;
}

.navbar .topbar .topbar-menu-right > ul > li {
    display: inline-block;
    height: 49px;
}

.navbar .topbar .topbar-menu-right > ul > li.dropdown:hover {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    background-color: #fff;
    z-index: 9999;
}

.navbar .topbar .topbar-menu-right > ul > li a {
    height: 49px;
    display: inline-block;
}

.navbar .topbar .topbar-menu-right > ul > li a span {
    display: none;
}

.navbar .dropdown > a:after {
    content: '';
}

.navbar .topbar .topbar-menu-right ul li.dropdown ul.dropdown-content {
    position: fixed;
    right: 0;
    left: 0;
    top: 49px;
    background-color: #fff;
    width: 100%;
    border: 1px solid #e0e0e0;
}

.navbar .dropdown .dropdown-content {
    visibility: hidden;
    opacity: 0;
}

.navbar .dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}

.navbar .topbar .topbar-menu-right ul {
    margin-bottom: 0;
}

.navbar .topbar .topbar-menu-right > ul > li.dropdown .borderbreak {
    height: 2px;
    position: absolute;
    top: 47px;
    z-index: 1000;
    width: 100%;
    right: 0;
    background: #fff;
    display: none;
}

.navbar .topbar .topbar-menu-right > ul > li.dropdown:hover .borderbreak {
    display: block;
}

.navbar .middlebar .sForm {
    height: auto;
}

@media only screen and (min-width: 768px) {
    .navbar .topbar {
        background-color: transparent;
    }
    .navbar .middlebar .navbar-search-field {
        top: 60px;
    }

    .navbar .middlebar .sForm input {
        width: 100%;
    }

    .navbar .collapse {
        top: 60px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar {
        height: 125px;
    }

    .navbar .topbar {
        padding-right: 15px;
    }

    .navbar .topbar .topbar-menu-right {
        padding-right: 0;
    }

    .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul {
        width: 250px;
    }

    .navbar .topbar .topbar-menu-right > ul > li a span {
        display: inline-block;
    }

    .navbar .topbar .topbar-menu-right ul li.dropdown ul.dropdown-content {
        position: absolute;
        right: 0;
        left: -1px;
        top: 49px;
        background-color: #fff;
        width: 250px;
        border: 1px solid #e0e0e0;
    }

    .navbar .topbar .topbar-menu-right ul li.dropdown > ul li a:hover {
        background-color: #b8ccbe;
    }

    .navbar .middlebar {
        top: 49px;
    }

    .navbar .collapse {
        top: 0;
    }

    .navbar .middlebar .sForm {
        background-color: transparent;
        padding: 0 10px 0 0;
    }

    .navbar .middlebar .collapse .navbar-search {
        display: inline-block;
    }

    .navbar .middlebar ul.middlebar-menu-right li a:hover {
        background-color: transparent;
    }

    .navbar .middlebar ul.middlebar-menu-right .dropdown > ul {
        width: 250px;
        background-color: #f0f3f2;
    }

    .navbar .middlebar ul.middlebar-menu-right .dropdown > ul li a:hover {
        background-color: #dadedd;
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        background-color: #fff;
    }

    .navbar .middlebar {
        height: 130px;
    }
    .navbar .middlebar .container {
        padding-right: 15px;
    }

    .navbar .middlebar ul.middlebar-menu-right {
        top: 35px;
        right: 0;
        margin-bottom: 20px;
    }

    .navbar .middlebar ul.middlebar-menu-right .h-search {
        height: auto;
    }

    .navbar .middlebar .open-navbar-search {
        width: auto;
        right: auto;
    }

    .navbar .middlebar .navbar-search-field {
        background-color: transparent;
        top: 0;
    }

    .navbar .middlebar .sForm {
        padding: 10px;
    }

    .sForm form {
        height: 55px;
    }

    .logo-text {
        display: inline-block;
        padding-left: 15px;
        padding-top: 0;
        margin-top: -5px;
        vertical-align: middle;
    }
}

#sidebar {
    color: #6e7277;
}

/* DESIGN-PAGE ------------------------------------------------------------------------------------------------------ */

#body_design .add_to_collection,
#body_design .open_calculator {
    border-radius: 4px;
    border-color: #000;
}

#body_design .add_to_collection i,
#body_design .open_calculator i {
    color: #1a9ebb;
}

#body_design .desUsp {
    border-radius: 8px;
}

#body_design table.prijsOf td.priceInfoTd:before {
    color: #1a9ebb;
}

/* EDITOR ----------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 768px) {
    .ed .ui-accordion .ui-accordion-header a {
        background-color: #525252;
        color: #fff;
    }

    .ed .ui-accordion .ui-accordion-header a:hover {
        background-color: #838383;
        font-weight: bold;
    }

    .ed .ui-accordion .ui-accordion-header.ui-state-active a {
        background-color: #7ac9d0;
        font-weight: bold;
    }

    .ed button {
        background: #fff;
        color: #6e7277;
    }

    .ed #nav_buttons #order_card {
        background-color: #b4a7d6;
        color: #fff;
        border: 1px solid #b4a7d6;
    }

    .ed #nav_buttons #order_card:hover {
        background-color: #fff;
        color: #b4a7d6;
    }

    .ed button#choose_font:hover {
        background:  #b4a7d6;
        color: #fff;
    }

    .ed #add_photo {
        background: #b4a7d6;
        color: #fff;
    }

    #body_basket #nav_buttons .button.back-button:after {
        content: '';
    }

    #body_basket #basket_n .button {
        padding: 2px;
    }

    .ed #chooseside .single_portrait_p1 {
        background-image: url(/common/img/card-icons/icon-single-portrait-p1.svg);
        width: 44px;
    }

    .ed #chooseside .single_portrait_p2 {
        background-image: url(/common/img/card-icons/icon-single-portrait-p2.svg);
        width: 44px;
    }

    .ed .ui-dialog {
        background-color: #fff;
        z-index: 9;
    }

    .ed #tag_dialog {
        max-height: 70vh !important;
    }

    #body_edit #fg_img_select {
        margin-top: -15px;
    }

    .ed #email_login,
    .ed #password_login {
        text-align: left;
    }

    .ed #chooseside .single_portrait_10x21_p1 {
        background-image: url(/common/img/card-icons/icon-single-portrait-p1.svg);
        width: 44px;
        background-size: 100% 140%;
    }
    .ed #chooseside .single_portrait_10x21_p2 {
        background-image: url(/common/img/card-icons/icon-single-portrait-p2.svg);
        width: 44px;
        background-size: 100% 140%;
    }

    #body_basket #nav_buttons .back-button {
        margin-top: 15px;
    }

    #body_edit #chooseside {
        top: auto !important;
    }

    #body_basket #basket_n .button {
        color: #fff;
        margin-bottom: 10px;
    }

    #body_bestel_details .ng2-dropdown .ng2-dropdown-option {
        max-height: 180px;
    }
    .ed #imagelist .head,
    .ed #clipartlist .head,
    .ed #patternlist .head {
        clear: left;
    }
    .ed #imagelist .content,
    .ed #clipartlist .content,
    .ed #patternlist .content {
        width: 100%;
    }
    #body_edit #save_user_design_form label:hover,
    #body_edit #save_design_form label:hover {
        color: initial;
        border: none;
    }

    .ed #chooseside {
        width: 400px;
    }

    #body_edit #tag_dialog {
        height: 70vw;
    }

    .ed #chooseside label {
        border: 1px solid transparent;
        color: transparent;
    }

    .ed #chooseside label:hover {
        border-color: #b4a7d6;
    }
}

#body_basket #pagecontent-footer,
.ed #pagecontent-footer {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
}

#canvas {
    overflow: hidden;
    z-index: 0;
}

#canvasgrid {
    pointer-events: none;
}

#canvasgrid table.edit_cross td {
    border: 1px solid red;
    width: 50%;
}

#canvasgrid table.edit_cross tr:first-child td {
    border-top: 0;
}

#canvasgrid table.edit_cross tr td:first-child {
    border-left: 0;
}

#canvasgrid table.edit_cross tr td:last-child {
    border-right: 0;
}

#canvasgrid table.edit_cross tr:last-child td {
    border-bottom: 0;
}

/** EDIT FIX PANORAMA LIGGEND ------------------- **/

.side-block {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0 15px;
    width: 125px
}

.side-block .side-block-buttons {
    display: table;
    position: relative;
    border: 1px solid #d7dada;
    background-color: #fff;
    width: 100%
}

.side-block .side-block-buttons .side-block-button {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 8px 0;
    cursor: pointer;
    border-right: 1px dashed #d7dada;
    width: 50px
}

.side-block .side-block-buttons .side-block-button:last-child {
    border-right: none
}

.side-block .side-block-buttons .side-block-button.active,.side-block .side-block-buttons .side-block-button:active,.side-block .side-block-buttons .side-block-button:focus,.side-block .side-block-buttons .side-block-button:hover {
    background-color: #f9f9f9;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.side-block .side-block-buttons .side-block-button.active:after,.side-block .side-block-buttons .side-block-button:active:after,.side-block .side-block-buttons .side-block-button:focus:after,.side-block .side-block-buttons .side-block-button:hover:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #bdbdbd;
    content: ""
}

#body_edit #chooseside,#body_edit #page_edit_nav_new {
    position: absolute!important;
    z-index: 1;
    text-align: center;
    top: auto!important;
    left: 150px!important;
    bottom: 0!important;
    margin: 0!important;
    padding: 0!important
}

#body_edit #page_edit_nav_new {
    width: auto!important
}

.tooltip {
    position: relative
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #383333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 15px;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: 50%;
    margin-left: -75px;
    line-height: 16px;
    -webkit-transform: scale(1)!important;
    transform: scale(1)!important;
    font-size: 11px
}

.tooltip .tooltiptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent
}

.tooltip.open-tooltip .tooltiptext {
    visibility: visible
}
#choose_part,#choose_side {
    font-size: 9px
}

#panorama_next_click,#panorama_prev_click {
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer
}

#panorama_prev_click {
    left: 15px
}

#panorama_next_click {
    right: 15px
}

#panorama_next_click .panorama_next_click_button,#panorama_prev_click .panorama_prev_click_button {
    margin: auto;
    top: 0;
    bottom: 0;
    cursor: pointer;
    display: block;
    position: absolute;
    height: 45px;
    width: 45px;
    z-index: 99999;
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid #b4a7d6;
    text-align: center
}

#panorama_next_click .panorama_next_click_button:before,#panorama_prev_click .panorama_prev_click_button:before {
    font-family: editor-font!important;
    font-size: 25px;
    line-height: 45px;
    color: #b4a7d6;
    text-align: center
}

#panorama_prev_click .panorama_prev_click_button:before {
    content: "\71";
    padding-right: 4px
}

#panorama_next_click .panorama_next_click_button:before {
    content: "\70";
    padding-left: 4px
}

#panorama_next_click .panorama_next_click_button {
    right: 0
}

@media (max-width: 767px) {
    #page_edit_nav_new {
        display: none;
    }

    .panorama-drieluik #editor-scroller {
        display: block;
        position: fixed;
        width: 180px;
        bottom: 107px;
        height: 5px;
        background: #b9b9b9;
        border: none;
        left: 0;
        right: 0;
        margin: auto
    }

    .panorama-drieluik #editor-scroller .ui-slider-handle {
        background: #f1f1f1!important;
        margin-left: -29px;
        position: relative;
        display: table;
        border-radius: 15px;
        top: -.9em;
        color: #909090;
        -ms-touch-action: none;
        touch-action: none
    }

    .panorama-drieluik #editor-scroller .ui-slider-handle>span.icon {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 0 2px
    }

}
@media (min-width: 768px) {
    #editor-scroller {
        display: none;
    }
}

/** ORDER PROCESS ---------- **/


@media screen and (min-width: 768px) {
    #body_address_n #pagecontent, #body_addresses_ng #pagecontent, #body_bestel_details #pagecontent, #body_keuze #pagecontent {
        padding: 0px 20px 100px;
        width: 1000px;
        min-height: 500px; 
    }
    #body_address_n #pagecontent h1, #body_addresses_ng #pagecontent h1, #body_bestel_details #pagecontent h1, #body_keuze #pagecontent h1 {
        margin: 10px 0;
    }

    #body_bestel_details .row {
        padding-bottom: 0px;
        margin: 0px;
    }
    .ed .button {
        color: #fff;
        border: 1px solid;
        border-color: #b4a7d6;
        background-color: #b4a7d6;
        font-weight: 400;
        font-size: 14px;
        margin: 0;
        line-height: 1.5em;
    }
   .ed .button:hover {
        color: #b4a7d6;
        background-color: #fff;
    }
    #body_address_n #left_div {
        width: 680px;
        float: left;
        margin-top: 10px;
        margin-bottom: 80px;
    }

}
