/*#contact .submit {
    text-align: left !important;
}

.navbar .middlebar {
    background-color: transparent;
}

.navbar .collapse {
    background-color: transparent;
}*/

#body_design .container {
    padding-left: 15px;
    padding-right: 15px;
}

#body_contact #categories {
    display: none;
}

#body_contact #pagecontent {
    margin-left: 25%;
}

#body_eigen_collectie .cols.cols-multi {
    clear: both;
}

#body_edit .topbar-menu-right .dropdown,
#body_voorbeeld .topbar-menu-right .dropdown,
#body_keuze .topbar-menu-right .dropdown,
#body_basket .topbar-menu-right .dropdown,
#body_address_n .topbar-menu-right .dropdown {
    margin-top: 0;
}

#body_addresses_ng #pagecontent {
    min-height: 675px;
}

#body_bestel_details #vimg {
    width: 150px;
    height: auto;
    margin-top: -60px;
    margin-left: -2px;
}

#body_edit .topbar a[href="/"] img,
#body_voorbeeld .topbar a[href="/"] img,
#body_keuze .topbar a[href="/"] img,
#body_bestel_details .topbar a[href="/"] img,
#body_basket .topbar a[href="/"] img,
#body_address_n .topbar a[href="/"] img,
#body_eigen_collectie .topbar a[href="/"] img {
    width: 141px;
    height: auto;
}

#body_edit .topbar-menu-right .dropdown>ul {
    z-index: 99999;
}

#body_edit #infodiv {
    z-index: 99;
}

#body_edit #wrapper,
#body_voorbeeld #wrapper,
#body_keuze #wrapper,
#body_bestel_details #wrapper,
#body_basket #wrapper,
#body_address_n #wrapper,
#body_eigen_collectie #wrapper {
    font-family: Raleway, sans-serif;
}

#body_basket #basket_n tfoot tr:nth-last-of-type(3) {
    display: none;
}

#body_edit #chooseside,
#body_edit #chooseside.single_landscape,
#body_edit #chooseside.single_square,
#body_edit #chooseside.single_portrait,
#body_edit #chooseside.double_landscape,
#body_edit #chooseside.double_portrait {
    top: 615px!important;
    margin-left: 0!important;
}

#body_edit #chooseside.double_square {
    left: 150px!important;
}

#body_edit #border_div {
    display: none !important;
}

.category-box .button.has-arrow:after {
    color: #643a7d;
}

.thumbnail-scroller .thumbnail-scroller-left>a,
.thumbnail-scroller .thumbnail-scroller-right>a {
    text-decoration: none;
    color: #643a7d;
}

.thumbnail-scroller .thumbnail-scroller-left>a i,
.thumbnail-scroller .thumbnail-scroller-right>a i {
    color: inherit;
}

.wrap-select #catSelList {
    background-color: transparent;
    text-transform: none;
    border: 1px solid #ccc;
    color: #7ac9d0;
}

#catSelList {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: 0;
    background: url(/img/icons/ico-arrow-3.png) right 13px center no-repeat #7ac9d0;
    padding: 12px 20px 8px 18px;
    font-size: 16px;
    font-family: Raleway, Neucha, cursive;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
    #body_voorbeeld .stick_to_bottom,
    #body_eigen_collectie .stick_to_bottom {
        bottom: 50px;
    }
    .stick_to_bottom #cookie_message {
        height: auto;
    }

    #body_edit .stick_to_bottom {
        bottom: 90px;
    }

    .convert_cardtype {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #body_contact #mid form input[type=text],
    #body_contact #mid form textarea {
        width: 90%;
    }
}

.custom_content a.button.has-arrow {
    color: #fff;
}

.custom_content a.button.button-white.has-arrow {
    color: #7ac9d0;
}

@media screen and (min-width: 700px) {
    .wrap-select {
        display: none;
    }
}

.floatAdmin {
    top: 50px !important;
}

@media screen and (max-width: 991px) {

    .logo-mobile {
        left: 65px;
        width: auto!important;
    }
    .navbar .middlebar ul.middlebar-menu-right li a {
        color: #7ac9d0;
    }

    .search-input-field {
        margin-top: 10px;
    }
}

@media screen and (min-width: 991px) {

    .hide-desktop {
        display: none!important;
    }
}


@media only screen and (max-width: 767px) {
    #body_design .logo-mobile{
        display: block;
    }
}