#infodiv {
    margin: 5px 0;
    font-size: 13px;
    width: 100%;
}

.edit_preview,
.grid_checkbox_off {
    width: 18px;
    height: 18px;
    background-size: 100% 100%;
}

#preview_label,
#grid_checkbox_label {
    line-height: 19px;
}

#patternselect, #clipartselect, #imageselect {
    padding: 4px;
    border: 1px solid #d3d3d3;
    background: #efefef;
}

#canvasbackground {
    margin-bottom: 14px !important;
}

#chooseside {
    margin-left: 207px;
    margin-bottom: 0 !important;
}

#chooseside input {
    width: auto;
    height: auto;
}

#accordion .ui-accordion-content br {
    display: none;
}

#accordion .ui-accordion-content textarea#txt_edit_add {
    width: 288px !important;
    height: 52px !important;
    padding-bottom: 0;
}

.edittable {
    color: #878686;
    font-size: 13px;
}

#position_photo_tofront .ui-button-text,
#position_txt_tofront .ui-button-text {
    background: url(/img/gfx/to_front.png) no-repeat center center;
}

#position_photo_toback .ui-button-text,
#position_txt_toback .ui-button-text {
    background: url(/img/gfx/to_back.png) no-repeat center center;
}

#photo_arrange .ui-button-text,
#txt_arrange .ui-button-text {
    padding: 0.4em 0.4em;
}

#photo_arrange #position_photo_tofront,
#photo_arrange #position_photo_toback,
#txt_arrange #position_txt_tofront,
#txt_arrange #position_txt_toback {
    background: none!important;
}

#position_photo_tofront .ui-button-text img,
#position_photo_toback .ui-button-text img,
#position_txt_toback .ui-button-text img,
#position_txt_tofront .ui-button-text img {
    visibility: hidden;
}

#imgtransparency,
#textsize {
    background: url(/img/gfx/bg_slider.png) no-repeat 0 0;
    width: 160px;
    float: right;
    margin-left: 0;
}

#imgtransparency a,
#texttransparency a,
#textsize a {
    background: url(/img/gfx/bg_circle.png) no-repeat 0 0;
    height: 16px;
    width: 16px;
    border: none;
    display: block;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -4px !important;
}

#texttransparencylabel {
    width: 100px;
    padding-top: 7px;
}

#txt_align_left_label {
    background-image: url("/img/sprites-editor.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

#txt_align_left_label:hover {
    background-position: 0 -31px;
}

#txt_align_left_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-repeat: no-repeat;
    background-position: 0 -61px;
}

#txt_align_center_label {
    background-image: url("/img/sprites-editor.png");
    background-repeat: no-repeat;
    background-position: 0 -467px;
}

#txt_align_center_label:hover {
    background-position: 0 -499px;
}

#txt_align_center_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-repeat: no-repeat;
    background-position: 0 -531px;
}

#txt_align_right_label {
    background-image: url("/img/sprites-editor.png");
    background-repeat: no-repeat;
    background-position: 0 -181px;
}

#txt_align_right_label:hover {
    background-position: 0 -213px;
}

#txt_align_right_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-repeat: no-repeat;
    background-position: 0 -244px;
}

#txt_align_top_label {
    background-image: url("/img/sprites-editor.png");
    background-repeat: no-repeat;
    background-position: 0 -276px;
}

#txt_align_top_label:hover {
    background-position: 0 -307px;
}

#txt_align_top_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-repeat: no-repeat;
    background-position: 0 -339px;
}

#txt_align_middle_label {
    background-image: url("/img/sprites-editor.png");
    background-repeat: no-repeat;
    background-position: 0 -91px;
}

#txt_align_middle_label:hover {
    background-position: 0 -120px;
}

#txt_align_middle_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-repeat: no-repeat;
    background-position: 0 -151px;
}

#txt_align_bottom_label {
    background-image: url("/img/sprites-editor.png");
    background-repeat: no-repeat;
    background-position: 0 -372px;
}

#txt_align_bottom_label:hover {
    background-position: 0 -404px;
}

#txt_align_bottom_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-repeat: no-repeat;
    background-position: 0 -435px;
}

#txt_align_justify_label {
    background-image: url("/img/sprites-editor.png");
    background-repeat: no-repeat;
    background-position: 0 -565px;
    height: 22px;
    width: 39px;
}

#txt_align_justify_label:hover {
    background-position: 0 -597px;
}

#txt_align_justify_label.ui-state-active {
    background-image: url("/img/sprites-editor.png");
    background-repeat: no-repeat;
    background-position: 0 -629px;
}

#txt_align {
    height: 28px;
}

.ui-buttonset .ui-button {
    margin-right: 7px;
}

#photo_arrange .ui-button-text,
#txt_arrange .ui-button-text {
    padding: 0;
    height: 31px;
    width: 31px;
}

.edittable td {
    padding: 3px 0;
}

#body_edit .edittable td {
    vertical-align: top;
}

#text_turn_left {
    margin-right: 6px;
}

#pt-upload {
    padding-top: 0;
}

#position_photo_tofront,
#position_photo_toback,
#position_txt_tofront,
#position_txt_toback {
    border: none !important;
}

#position_photo_toback {
    margin-right: 10px;
}

#position_photo_tofront,
#position_txt_tofront {
    margin-right: 4px;
}

#patternselect_div,
#bt-pattern,
#bt-color {
    clear: both;
    padding-bottom: 10px;
}

#patternselect_div,
#bt-pattern .description,
#bt-color .description {
    color: #878686;
    font-size: 13px;
    margin-top: 6px;
}

#patternselect_div img,
#bt-pattern img,
#bt-color .description img {
    display: none;
}

#accordion .ui-accordion-content span p {
    margin: 0;
    font-size: 12px;
    padding-bottom: 20px;
}

#accordion .ui-accordion-content span p a {
    color: #199EBA;
    display: inline;
}

#accordion .ui-accordion-content span p a:hover {
    text-decoration: underline;
}

#accordion .ui-accordion-content span ul {
    list-style: none;
    padding: 20px 0 0 0;
    margin: 0;
}

#accordion .ui-accordion-content span ul li {
    background: url(/img/ico-square.gif) no-repeat 0 7px;
    padding-left: 15px;
    font-size: 12px;
    padding-bottom: 20px;
}

.edit_big_button {
    color: #199EBA;
    font-size: 15px;
    border-radius: 0;
    width: 198px;
    margin: 0 auto;
    float: none;
    padding: 0;
    background: #FDE93C;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-left: 1px solid #D0C031;
    border-bottom: 1px solid #D0C031;
}

.edit_big_button:hover {
    background-color: #F2E61C;
}

#accordion .ui-accordion-content a[href="/login?redirecturl=/edit"] {
    display: block !important;
}

#background_type {
    padding-bottom: 15px;
}

.combolist,
#bg_select,
#fg_select,
#bg_color,
#fg_color,
#patternselect {
    width: 200px !important;
}

#bg_color {
}

#background_type_pattern_label,
#background_type_color_label {
    background: #efefef;
    border: 1px solid #d3d3d3;
    font-size: 13px;
    color: #262626;
    padding: 0;
    width: 98px;
}

#background_type_pattern_label.ui-state-active,
#background_type_color_label.ui-state-active,
#background_type_pattern_label.ui-state-hover,
#background_type_color_label.ui-state-hover {
    background: #dfdfdf;
}

.head .next,
.head .prev {
    background: #525252;
    color: #fff !important;
    display: inline-block;
    width: 79px;
    height: 26px;
    font-family: 'droidsans';
    font-size: 12px;
    text-align: center;
    line-height: 26px;
}

.head .next:hover,
.head .prev:hover {
    background: #838383;
}

#patternlist, #clipartlist {
    clear: both;
    height: 180px;
}

#imagelist {
    height: 140px;
}

#text_turn_left,
text_turn_right {
    cursor: pointer;
}

#imagelist .pages,
#clipartlist .pages,
#patternlist .pages {
    width: 115px !important;
    color: #262626 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#cl-bib {
    font-size: 13px;
    color: #878686;
    font-family: 'droidsans';
}

#cl-bib select {
    width: 200px;
    float: right;
}

#clipartlist {
    clear: both;
    padding-top: 7px;
}

#add_photo {
    margin-bottom: 0;
    cursor: pointer;
}

.centeredImage,
.arrow_allign {
    display: none !important;
}

#imagelist .head span, #patternlist .head span, #clipartlist .head span {
    width: 100%;
}

#accordion .ui-accordion-content a {
    display: inline-block;
    height: 26px;
    line-height: 26px;
}

#phototabs {
    background: #fafafa;
}

#position_photo_full {
    color: #404040 !important;
    border: 1px solid #d3d3d3 !important;
    background: #efefef;
    height: 29px !important;
    line-height: 15px;
    padding-bottom: 2px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    cursor: pointer;
    -moz-box-shadow: inset 1px -1px 0 0 #eeeeee;
    -webkit-box-shadow: inset 1px -1px 0 0 #eeeeee;
    box-shadow: inset 1px -1px 0 0 #eeeeee;
    width: auto !important;
}

#position_photo_full span {
    height: auto !important;
    width: auto !important;
}

#position_photo_full:hover {
    background: #dfdfdf !important;
}

#imageselect {
    width: 170px !important;
}

#patternselect_div .title,
#cl-bib .title {
    float: left;
    padding-top: 5px;
}

#txt_color,
#fg_color,
#bg_color {
    border: 1px solid #D3D3D3;
    background: ##EFEFEF;
    padding: 3px;
    width: 192px !important;
}

#txt_color {
    width: 133px !important;
}

#patternselect_div {
    zoom: 1;
    margin: 0;
}

#patternselect_div:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

#clipartlist {
    height: 300px !important;
}

#patternlist {
    height: 165px !important;
}

.combo > input {
    background-image: url("/img/red_arrow_down.png");
}

#chooseside label {
    border: none;
}

#imgtransparency {
    margin-left: 8px;
}

#imgtransparency .ui-slider-handle {
    margin-left: 0 !important;
}

#canvas .delbtn {
    padding: 0 !important;
}

#chooseside label.selected .side_selected {
    background: url(/img/arrow_slide.png) no-repeat 0 0;
    width: 18px;
    height: 18px;
    left: -2px;
}

#text_turn_left,
#text_turn_right {
    cursor: pointer;
}

#fg_select,
#bg_select {
    float: right;
    width: 173px !important;
}

#patternselect_div .title {
    padding-top: 5px;
    float: left;
}

#top-head #navHulp ul,
#top-head #navInfo ul {
    z-index: 20000;
}

#texttransparency {
    background: url(/img/gfx/bg_slider.png) no-repeat 0 0;
    width: 160px;
}

#texttransparency a {
    margin-left: 0;
}

#body_edit #chooseside, #body_edit #page_edit_nav_new {
    width: 350px!important;
}

body#body_edit #nav_buttons {
    bottom: 50px!important;
}

#body_edit #clipartlist .content img,
#body_edit #imagelist .content img,
#body_edit #patternlist img {
    max-width: 90px;
    max-height: 90px;
    width: auto !important;
    height: auto !important;
}