@import url(http://fonts.googleapis.com/css?family=Open+Sans|Neucha);

@font-face {
    font-family: 'FontAwesome';
    src: url('/css/fonts/fontawesome-webfont.eot?v=4.4.0');
    src: url('/css/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('/css/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('/css/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('/css/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('/css/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

label {
	font-weight: 300 !important;
}

.ui-widget-content {
	background-color: #fdfdfd;
}

.ui-dialog label {
	margin-bottom: 0 !important;
	font-size: 14px !important;
}

#tag_dialog label {
	width: 76%;
	vertical-align: top;
}

body #wrapper {
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
	line-height: 1.4;
}

.navbar {
	height: auto !important;
}

.navbar .topbar .topbar-menu-right>ul>li a i {
	margin-top: 0!important;
}

.topbar{
	padding: 0;
	z-index: 9999;
	height: 51px;
	position: static !important;
	width: auto !important;
	border: none !important;
}

.topbar .topbar-menu-right {
	height: 100%;
	padding-right: 0;
	float: right;
	position: static !important;
}

.topbar .topbar-menu-right > ul > li {
	border: 1px solid transparent;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.topbar .topbar-menu-right > ul > li {
	border: 1px solid transparent;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	font-size: 12px;
}

.topbar .topbar-menu-right > ul > li a {
	color: #979797;
	padding: 10px 5px;
	display: block;
}

.topbar .topbar-menu-right > ul > li a i{
	position: relative;
	top: -2px;
}

.topbar .topbar-menu-right > ul > li a:hover {
	color: #1a9ebb;
}

.topbar .topbar-menu-right > ul > li > a:first-child {
	padding-left: 0;
}

.topbar .dropdown > ul {
	background-color: #fff;
	border: 1px solid #e0e0e0;
	margin-top: -1px;
	opacity: 1;
	position: absolute;
	right: -1px;
	visibility: hidden;
	width: 250px;
}

.sp-preview{
	height: 16px !important;
	width: 113px !important;
}

.sp-replacer{
	height: auto !important;
}

#wrapper .button {
	background: #7ac9d0;
	height: auto;
	width: auto;
	/*padding: 7px 10px;*/
	text-align: center;
	line-height: normal;
	border: none;
	/*font-family: 'Neucha', cursive;*/
}

.ui-dialog .button {
	padding: 7px 10px;
	height: auto;
}

#body_verzend .choice_div:hover .button,
#body_bestel_login div.choice_block:hover .button,
#body_bestel_login div.choice_block .button:hover,
#body_kaarttype .choice_div a:hover .button,
#wrapper .button:hover {
	background: #67b8bf;
}

#body_basket div#rebate .cont-rebate input[name="actiecode"],
input[type="file"],
input[type="password"],
input[type="text"] {
	border-left: 1px solid #d3d3d3 !important;
	border-bottom: 1px solid #d3d3d3 !important;
	border-right: 1px solid #b4b4b4 !important;
	border-top: 1px solid #b4b4b4 !important;
	padding: 8px 1%  !important;
	width: 98%;
	color: #262626;
	font-size: 14px;
	-moz-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	-webkit-box-shadow: inset -1px 1px 0 0 #d9d9d9;
	box-shadow: inset -1px 1px 0 0 #d9d9d9;
}

#pt-upload input[type="file"] {
	width: 285px;
}

#pagecontent p {
	line-height: none;
}

#wrapper {
	width: 1060px;
	overflow: visible !important;
}

#header {
	background: #fff;
	width: 1060px;
	padding: 0;
	height: 69px;
	margin: 0 !important;
}

#home {
	display: none;
}

#pagecontent-footer {
	text-align: center;
	color: #262626;
	padding: 10px 0;
}

#editor_top_border,
#editor_bottom_border,
#switch_card {
	display: none;
}

#pagecontent {
	float: left;
	background: #fff;
	width: 1060px;
	padding: 0;
	border: none;
}

#body_voorbeeld #pagecontent {
	padding-bottom: 30px;
}

#body_voorbeeld #side_buttons {
	margin-top: 0;
	margin-bottom: 100px!important;
}

#body_voorbeeld .modal-text-left {
	color: #9a72b1;
}

#body_voorbeeld .modal-body > div > p {
	color: #7ac9d0!important;
}

.leftdiv {
	padding-top: 15px;
}

#body_edit .leftdiv {
	position: relative;
}

.rightdiv {
	padding-top: 17px;
	width: 340px;
}

#headernavigation {
	margin: 0;
	height: 50px;
}

#headernavigation a {
	height: 50px;
}

#accordion {
	width: 340px !important;
}

#accordion h3 {
	padding: 0;
	margin: 0;
	padding-bottom: 1px;
	background: none;
}

#accordion h3 a {
	background: #525252;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	color: #fff;
	height: 27px;
	line-height: 27px;
	padding: 0 0 0 10px !important;
	position: relative;
}

#accordion h3 a:after {
	content: "\f105";
	font-family: 'FontAwesome';
	position: absolute;
	right: 10px;
	top: 0;
	height: 27px;
	line-height: 26px;
	font-size: 16px;
}

#accordion h3 a:hover {
	background: #838383;
}

#accordion .ui-state-active a {
	background: #7ac9d0;
}

#accordion .ui-state-active a:after {
	content: "\f107";
}

#send_date_picker .ui-icon {
	font-size: 11px;
}

#accordion .ui-accordion-content {
	color: #262626;
	background: #fafafa;
	border: 1px solid #d3d3d3;
	border-top: none;
	margin-top: -3px;
	padding-left: 20px !important;
	padding-right: 20px !important;
	margin-bottom: 1px !important;
}

#body_edit #accordion .ui-accordion-content {
	font-size: 13px;
}

#body_enveloppen #accordion .ui-accordion-content {
	background: none;
}

#headermenu {
	height: auto;
	padding: 15px 0 0;
	margin: 0;
}

#headernavigation {
	display: none;
}

#choose_card {
	display: none !important;
}

#edit_card div {
	background: url(/img/step01.png) no-repeat left center;
}

#nav_buttons {
	background-color: #f5f5f5;
	border: none;
	width: 1060px;
	left: 0;
	bottom: 0;
	height: 72px;
	padding: 15px 15px 0;
}

#body_edit #nav_buttons {
	left: 0;
	width: 1060px;
}

#body_bestel_details #nav_buttons,
#body_basket #nav_buttons,
#body_address #nav_buttons,
#body_addresses #nav_buttons,
#body_voorbeeld #nav_buttons {
	width: 1060px;
}

#body_basket #nav_buttons a.button[href="/address_n"],
input#step_forward.button,
#body_addresses #done,
#step_forward,
#order_card {
	position: relative;
	width: auto !important;
	/*background: #7ac9d0 url(/img/icons/ico-arrow-1.png) no-repeat right 16px center;*/
	background-color: #7ac9d0;
	color: #ffffff;
	/*font-family: 'Neucha', cursive;*/
	font-size: 18px;
	height: auto;
	line-height: normal;
	padding: 10px 45px 8px 19px;
	border: none;
	border-radius: 6px;
	text-transform: none;
	-webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

#body_basket #nav_buttons a.button[href="/address_n"]:after,
input#step_forward.button:after,
#body_addresses #done:after,
#step_forward:after,
#order_card:after {
	font-family: ElegantIcons;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\3d";
	right: 20px;
	position: absolute;
	top: 11px;
	transition: all .3s ease;
	font-size: 20px;
}

#body_basket #nav_buttons a.button[href="/address_n"]:hover:after,
input#step_forward.button:hover:after,
#body_addresses #done:hover:after,
#step_forward:hover:after,
#order_card:hover:after {
	right: 10px;
}

input#step_forward {
	background: #7ac9d0 url(/img/icons/icon-arr.png) no-repeat right 16px center !important;
}

input#step_forward:hover {
	background-color: #67b8bf !important;
	background-position: right 8px center !important;
}

#body_basket #nav_buttons a.button[href="/address_n"]:hover,
input#step_forward:hover,
#body_addresses #done:hover,
#step_forward:hover,
#order_card:hover {
	background-color: #67b8bf;
	background-position: right 8px center;
}

#skip_design {
	display: none;
}

#body_basket #nav_buttons a.button[href="/"],
#step_back,
#step_forward_alternate {
	/*background-image: url(/img/icons/ico-arrow-2.png);*/
	/*background-repeat: no-repeat;*/
	position: relative;
	color: #5c6d71;
	font-size: 18px;
	line-height: normal;
	/*font-family: 'Neucha', cursive;*/
	padding: 10px 19px 8px 45px;
	border-radius: 6px;
	width: auto;
	-webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

#step_forward_alternate {
	padding: 10px 45px 8px 19px;
}

#body_basket #nav_buttons a.button[href="/"]:before,
#step_back:before,
#step_forward_alternate:after {
	font-family: ElegantIcons;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\3c";
	left: 20px;
	position: absolute;
	top: 11px;
	transition: all .3s ease;
	font-size: 20px;
}

#step_forward_alternate:after {
	left: auto;
	right: 5px;
	content: "\3d";
}

#body_basket #nav_buttons a.button[href="/"]:hover:before,
#step_back:hover:before {
	left: 10px;
}

#step_forward_alternate:hover:after {
	right: 0;
}

#step_forward_alternate {
	background-position: right 10px center;
	padding-right: 32px;
	margin-right: 80px;
}

#body_basket #nav_buttons a.button[href="/"],
#step_back {
	/*background-image: url(/img/icons/ico-arrow-4.png);*/
	/*background-position: 10px center;*/
	/*padding-left: 32px !important;*/
}

#body_basket #nav_buttons a.button[href="/"]:hover,
#step_back:hover {
	background-position: left center;
	text-decoration: none;
}

#step_forward_alternate:hover {
	background-position: right center;
}

#nav_remark_div {
	bottom: 80px;
	font-family: 'Open Sans', sans-serif;
	color: #262626;
	left: 0;
	width: 1060px;
	font-size: 15px;
	padding: 0 15px;
	line-height: normal;
}

#nav_remark_div b {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	display: block;
	text-indent: 3px;
}

#side_buttons #arrow,
#side_buttons {
	border-color: #ccc !important;
}

#pagecontent h1 {
	margin: 0 !important;
	color: #643a7d;
	font-weight: 400;
}

#body_kaarttype #pagecontent h1 {
	margin-bottom: 20px !important;
}

#body_verzend #pagecontent h1{
	margin-bottom: 50px !important;
}

#body_basket #pagecontent h1 {
	margin: 50px 0 18px 0 !important;
}

#body_addresses .button_wide,
#body_keuze .button {
	/*font-family: 'Neucha', cursive;*/
	font-size: 18px;
	height: auto;
	padding: 7px 10px;
	text-align: center;
	line-height: normal;
	border: none;
}

#body_keuze .choice_div {
	padding: 0 10px;
	width: 198px;
	float:none;display:inline-block;
}
#body_keuze .choice_center .choice_div:nth-child(3) {display:none;}
#body_keuze .choice_center {
	width: 654px;
}

#body_keuze .choice_center h1 {
	padding-bottom: 57px;
}

#body_keuze .choice_div_content {
	background: none;
	width: 198px;
	height: 160px;
}

#body_keuze .choice_div a:hover .choice_div_content {
	background-image: none;
}

#body_keuze .choice_div a:hover .button {
	background: #5eadbc;
}

#body_bestel_login .choice_center div.choice_block {
	background: none;
	border-top: 3px solid #e1e1e1;
	width: 200px;
	padding: 15px;
	margin: 0 10px;
	min-height: inherit !important;
	height: 230px;
}

#body_bestel_login div.choice_block .button {
	color: #fff;
	background: #7ac9d0;
	height: auto;
	width: 100%;
	padding: 7px 10px;
	text-align: center;
	line-height: normal;
	margin: 0;
	left: -1px;
	bottom: -31px !important;
	border: none;
	/*font-family: 'Neucha', cursive;*/
	outline: none;
}

#body_bestel_login table {
	border-spacing: 0;
	border: 0;
}

#body_bestel_login input[type="text"],
#body_bestel_login input[type="password"] {
	width: 100% !important;
}

#body_bestel_login .color {
	font-size: 14px;
	color: #262626;
	font-weight: 600;
}

#body_bestel_login .choice_block ul,
#body_bestel_login .choice_block form {
	padding-top: 16px;
}

#body_bestel_login table td {
	padding-bottom: 6px;
}

#body_bestel_login table b {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

#body_bestel_login table input {
	margin-top: 4px;
}

#body_bestel_login .choice_block li {
	background: url(/img/ico-square.gif) no-repeat 0 7px;
	padding: 0 0 0 12px;
	font-size: 14px;
	color: #262626;
}

#body_bestel_login .choice_center h1 {
	padding-bottom: 50px;
}

#body_address #pagecontent h1,
#body_addresses #pagecontent h1 {
	position: absolute;
	left: 0;
	top: 0;
	width: 1060px;
	text-align: center;
}

#body_addresses .leftdiv,
#body_address .leftdiv {
	width: 710px;
}

#body_address .leftdiv,
#body_addresses #leftdiv {
	padding-top: 80px;
	position: relative;
}

#body_addresses .address,
#body_address .address {
	background: none;
	border-top: 3px solid #d3d3d3;
	padding: 20px;
	width: 668px;
	height: auto;
}

#body_addresses #rightdiv,
#body_address #rightdiv {
	float: right;
	width: 230px;
	padding: 0;
}

#body_addresses .address table,
#body_address .address table {
	margin: 0;
	width: 100%;
	position: inherit;
	top: 0;
	border-spacing: 0;
	border: none;
	font-size: 14px;
}

#body_address .address table tr td {
	padding: 5px 0;
}

#body_addresses .address table tr td:first-child,
#body_address .address table tr td:first-child {
	width: 130px;
}

.address input[type="text"],
.address select {
	width: 100%;
	font-size: 14px;
}

.address select {
	height: 30px;
	/*width: 538px;*/
	width: 100%;
	padding: 5px;
	border: 1px solid #d3d3d3;
	background: #efefef;
}

.address input.short {
	width: 185px;
}

select[name="papiersoort"],
select[name="enveloppen"] {
	width: 197px;
}

#body_addresses .address table tr td.col4 {
	width: 197px !important;
}

.col2, .col3, .col4 {
	width: auto;
}

#body_addresses .address table tr td.col04,
#body_address .address table tr td.col04 {
	width: 197px;
}

#order_present_preview {
	padding: 0 0 20px !important;
	background: none !important;
	width: 228px !important;
	border: none;
	border-bottom: 1px solid #e1e1e1;
	height: auto !important;
	text-align: center;
}

#body_address #order_present_preview {
	margin-top: 102px !important;
}

#body_addresses #order_present_preview {
	background: none;
	margin-top: 70px !important;
}

#order_address_preview .title,
#papier_preview .title,
#order_present_preview .title {
	background: none;
	font-size: 22px;
	font-family: 'Neucha', cursive;
	padding: 0 !important;
	height: 30px;
	text-align: left;
	color: #5c6d71;
}

#order_address_preview,
#papier_preview {
	padding: 0 !important;
	background: none !important;
	width: 228px !important;
	border: none;
	border-bottom: 1px solid #e1e1e1;
	height: auto !important;
}

#body_address #papier_content {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	border: none;
	margin: 0;
	padding: 20px;
	width: 188px;
}

#body_address #papier_content i {
	font-style: normal;
}

#body_address #papier_content p {
	margin: 0;
}

#body_address #papier_content ul {
	margin: 15px 0 0 0;
}

#enveloppen_preview {
	position: absolute;
	left: 50px;
	top: 726px;
	height: auto !important;
	background: none !important;
	border: none;
	border-bottom: 1px solid #e1e1e1;
	width: 710px;
}

#enveloppen_preview .title {
	background: #7ac9d0;
	font-size: 14px;
	/*font-family: 'Neucha', cursive;*/
	padding: 0 10px !important;
	height: 25px;
	line-height: 25px;
	text-align: left;
}

#enveloppen_preview table {
	border-spacing: inherit;
	margin: 20px;
}

.enveloppen_beschrijving {
	font-size: 12px;
	padding-top: 20px;
}

.enveloppen_beschrijving a {
	color: #7ac9d0;
}

.enveloppen_beschrijving a:hover {
	text-decoration: underline;
}

#body_addresses #pagecontent {
	min-height: 741px !important;
}

#body_addresses #order_address_preview {
	height: auto !important;
	padding-bottom: 20px !important;
}

#body_addresses #order_address_preview div {
	margin-left: 0 !important;
}

#body_addresses #order_address_preview div a {
	color: #5c6d71;
}

#body_addresses #order_address_preview div a:hover {
	text-decoration: underline;
}

#body_addresses #addr_total {
	width: 118px;
	color: #5c6d71;
}

#body_addresses .addr_list {
	width: 188px;
	margin: 20px;
	overflow: auto;
}

#body_check .choice_center {
	margin: 0 !important;
}

#body_check .leftdiv {
	width: 440px !important;
}

#send_date_picker {
	background-image: url(/img/gfx/date_bg.png);
	margin-top: 50px;
}

#send_date_picker td * {
	color: #0b0012;
}

.ui-datepicker-today {
	background: #7ac9d0;
}

#send_date_picker .ui-state-active {
	background: none;
}

.ui-datepicker-title {
	font-size: 18px;
	/*font-family: 'Neucha', cursive;*/
}

.ui-datepicker-prev {
	background: url(/img/ico-vorige-maand.png) no-repeat left center !important;
	height: 17px !important;
	margin-top: 20px;
}

.ui-state-disabled.ui-datepicker-prev-hover {
	color: inherit !important;
}

.ui-datepicker-next {
	background: url(/img/ico-volgende-maand.png) no-repeat right center !important;
	height: 17px !important;
	margin-top: 20px;
	right: 19px !important;
	text-align: right;
	padding-right: 12px;
}

.ui-datepicker-prev-hover,
.ui-datepicker-next-hover {
	color: #7ac9d0 !important;
}

.ui-datepicker-next span,
.ui-datepicker-prev span {
	top: 0 !important;
	position: inherit !important;
	display: block !important;
	left: 10px !important;
	text-align: left !important;
}

.ui-datepicker-next span {
	right: 10px;
	text-align: right !important;
}

#send_date_picker .ui-datepicker-header {
	height: auto;
	padding-top: 87px;
}

input#step_forward{
	padding-top: 0;
	padding-bottom: 0;
}

#body_check h1 {
	position: absolute;
	left: 0;
	top: 0;
	width: 1060px;
	text-align: center;
}

#body_check .rightdiv {
	width: 473px;
	padding-top: 103px;
}

#body_check .rightdiv #accordion {
	width: 473px !important;
	font-size: 14px !important;
}

#bezorgdatum {
	/*font-family: 'Neucha', cursive !important;*/
	color: #7ac9d0 !important;
	font-size: 25px;
	font-style: normal;
	display: block;
	margin-top: 14px;
}

#body_basket #basket {
	float: none !important;
	width: 960px;
	margin-bottom: 30px;
}

#body_basket #basket tr:first-child td {
	background: #40bfd9;
	text-align: center;
	/*font-family: 'Neucha', cursive;*/
	font-weight: 700;
	color: #fff;
	font-size: 24px;
	height: 45px;
	padding: 0;
}

#body_basket .line {
	border-color: #d3d3d3;
}

#body_basket .style {
	display: inline;
	float: none !important;
}

#pay {
	line-height: 26px !important;
	float: none !important;
	margin-top: 20px;
	height: 44px;
}

#body_size .info_div .img_div {
	height: 195px;
}

#body_size .info_div {
	height: 280px;
}

#body_size #pagecontent {
	min-height: 600px;
}

#body_verzend .info_div .info_div_content div{
	line-height: 22px;
	vertical-align: top;
	color: #5c6d71;
}

#body_size .choice_div {
	margin: 0 10px;
	padding: 0;
	float: none;
	display: inline-block;
}

#body_size .choice_center {
	width: 740px !important;
}

#body_enveloppen .leftdiv {
	float: none !important;
	width: auto !important;
}

#body_enveloppen .rightdiv {
	float: none !important;
	position: absolute;
	right: 70px;
	top: 127px;
	padding-top: 0;
	width: 322px;
}

#body_enveloppen #accordion h3 {
	display: none;
}

#body_enveloppen #accordion {
	width: 252px;
}

#body_enveloppen #accordion table td {
	width: 100px !important;
}

#body_enveloppen #accordion .ui-accordion-content {
	height: auto !important;
	border: none;
	padding: 0 !important;
}

#body_enveloppen .col2 {
	width: 195px;
}

#body_enveloppen .col4 input {
	width: 185px;
}

#body_enveloppen .address {
	height: auto;
	border: 1px solid #D3D3D3;
	padding: 20px;
	width: auto;
}

.address table {
	width: 668px;
	margin: 0;
}

#body_enveloppen .address table {
	width: 554px;
	top: 0;
}

#body_enveloppen .address table td {
	height: 38px;
}

#body_enveloppen .address input[type="text"],
#body_enveloppen .address select {
	width: 430px;
	font-size: 14px;
}

#body_enveloppen .col3 {
	width: 80px;
}

#body_enveloppen .address select {
	width: 442px;
}

#body_enveloppen .address .col4 input[type="text"] {
	width: 147px;
}

#body_enveloppen .address .col2 input[type="text"] {
	width: 183px;
}

#body_enveloppen #pagecontent {
	min-height: 744px;
	position: absolute;
}

#body_enveloppen #step_forward {
	background-position: 238px center;
	width: 260px;
}

#save_user_design,
#save_design,
#imageaddformclose,
#pt-upload input[type="submit"],
#choose_font,
#add_photo,
#add_text {
	border: 1px solid #d3d3d3;
	background: #efefef;
	height: 29px;
	line-height: 10px;
	padding-bottom: 5px;
	cursor: pointer;
	-moz-box-shadow: inset 1px -1px 0 0 #eeeeee;
	-webkit-box-shadow: inset 1px -1px 0 0 #eeeeee;
	box-shadow: inset 1px -1px 0 0 #eeeeee;
	font-size: 12px;
}

#pt-upload input[type="submit"] {
	margin-top: 10px;
}

#save_user_design:hover,
#save_design:hover,
#imageaddformclose:hover,
#pt-upload input[type="submit"]:hover,
#choose_font:hover,
#add_photo:hover,
#add_text:hover {
	background: #dfdfdf;
}

.combolist a {
	display: block !important;
}

#save_design {
	clear: both;
	margin: 0 0 7px 0;
}

.ui-accordion-content input#id,
.ui-accordion-content input#title,
.ui-accordion-content input#description,
.ui-accordion-content input#sort_order {
	padding: 3px 5px !important;
	margin: 0 0 7px 0;
	width: 282px !important;
}

.ui-accordion-content select#designer_code,
.ui-accordion-content select#category {
	padding: 6px 1% !important;
	width: 98%;
	margin: 0 0 7px 0;
}

#body_check #accordion .ui-accordion-content {
	height: 152px !important;
}

#body_verzend .choice_div {
	width: 200px;
	display: inline-block;
	float: none;
}

#body_verzend #outer_meer {
	margin: 0 20px;
}

#body_cadeau .choice_div .button,
#body_verzend .choice_div .button {
	width: 175px !important;
	padding: 0;
	line-height: 45px;
}

#body_verzend .choice_div .button {
	width: 100% !important;
}

#body_verzend .info_div_content{
	margin: 0;
	width: 100%;
	padding: 20px 10px 0;
	text-align: left;
}

#body_verzend .info_div .img_div{
	margin-top: -50px;
	height: auto !important;
}

#body_verzend .info_div .img_div span {
	display: block;
	top: inherit;
	width: auto !important;
	left: inherit !important;
	top: inherit !important;
	position: inherit;
	font-size: 18px;
	padding-top: 10px;
	color: #7ac9d0;
}

#body_verzend .img_div img{
	margin-top: -40px;
}

#body_verzend .info_div{
	background: #f0f8fd;
	width: 100%;
	height: 208px;
}

#body_verzend #outer_een .img_div span {
	top: 68px;
}

#body_verzend #outer_meer .img_div span {
	top: 73px;
}

#body_verzend #outer_thuis .img_div span {
	top: 75px;
}

#body_size .button {
	padding: 0;
	width: 198px !important;
	line-height: 45px;
}

#body_kaarttype .choice_center {
	width: 100%;
	max-width: 600px;
	overflow: hidden;
}

#body_kaarttype .info_div,
#body_kaarttype .choice_div_content {
	background: none;
	height: 230px;
}

#body_kaarttype .choice_div img {
	bottom: 25px;
}

#body_kaarttype .choice_div {
	margin-bottom: 30px;
	padding: 0 10px;
	width: 200px;
}

#body_kaarttype .info_div_content {
	width: 175px;
	margin: 0;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #f0f8fd;
	color: #7ac9d0;
	font-weight: 700;
	height: 45px;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	line-height: 35px;
	padding-top: 28px;
	font-size: 0;
	overflow: hidden;
	display: none;
}

#body_kaarttype .bold {
	color: #7ac9d0;
	font-size: 0;
}

#body_kaarttype .choice_div .button {
	width: 100%;
	padding: 7px 10px;
}

#body_kaarttype #pagecontent {
	min-height: 850px;
}

#body_voorbeeld .choice_center {
	margin-top: 0;
}

#body_voorbeeld .loading-bar-progress {
	background-color: #7ac9d0!important;
	color: #7ac9d0!important;
}

#body_voorbeeld .choice_center img {
	margin-top: -13px;
}

#body_size #sizes_div {
	width: auto;
	text-align: center;
}

.delbtn {
	background: url(/img/ico_delete.gif) no-repeat 0 center;
	color: #F00 !important;
	text-align: left;
	font-size: 12px;
	padding: 0 0 0 23px;
	height: 20px;
	line-height: 20px;
	margin-left: 20px;
}

.delbtn:hover {
	background: url(/img/ico_delete.gif) no-repeat 0 center;
}

.delbtn:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: url(/img/ico_delete.gif) no-repeat 0 center;
}

#pay {
	color: #fff;
}

#body_check #accordion h3 {
	text-align: center;
}

#body_check #accordion h3 a {
	background: #7ac9d0 !important;
	padding: 0;
	font-size: 25px !important;
	height: 45px;
	/*font-family: 'Neucha', cursive !important;*/
	line-height: 45px;
}

#body_check #accordion h3 a:after {
	display: none;
}

#body_check #accordion .ui-accordion-content {
	border: none !important;
	height: auto !important;
	border-bottom: 1px solid #e1e1e1 !important;
	min-height: 244px;
	line-height: 24px;
}

#body_addresses #addr_prev, #body_addresses #addr_next, #body_addresses #addr_total {
	font-size: 12px;
}

.button-block {
	width: 266px !important;
	float: right !important;
	margin-top: 0;
}

.button-block .button {
	border-width: 1px;
	border-style: solid;
	border-color: #66BFD1 #66BFD1 #7ac9d0 #7ac9d0;
	color: #ffffff;
	/*font-family: 'Neucha', cursive !important;*/
	font-size: 20px;
	font-weight: 700;
	background: #7ac9d0 url(/img/icons.png) no-repeat right -950px;
	padding: 0 25px 0 10px;
	height: 26px;
	line-height: 26px;
	width: auto;
	float: right;
	font-weight: normal;
	margin-bottom: 10px;
}

.button-block .button:hover {
	background-color: #7ac9d0;
	text-decoration: none;
}

.button-block #pay {
	color: #7ac9d0 !important;
	font-size: 24px !important;
	background: #fde93c url("/img/icons.png") no-repeat scroll -153px -896px !important;
	height: 70px !important;
	width: auto !important;
	padding: 0 !important;
	text-align: left !important;
	line-height: 20px !important;
	/*font-family: 'Neucha', cursive !important;*/
	font-weight: 700 !important;
	border: none;
	border-bottom: 1px solid #ccbc31;
	border-left: 1px solid #ccbc31;
	padding: 0 25px 0 20px !important;
	margin-top: 0 !important;
	float: right;
}

.button-block #pay:hover {
	text-decoration: none;
	background-color: #f2e61c !important;
}

.button-block #pay:active {
	background-color: #f2e61c;
	-moz-box-shadow: inset 0 0 5px #c0b838;
	-webkit-box-shadow: inset 0 0 5px #c0b838;
	box-shadow: inset 0 0 5px #c0b838;
}

.button-block #pay span span {
	font-size: 14px;
	font-family: 'Open Sans',sans-serif !important;
	font-weight: normal !important;
}

.left-block {
	float: left;
	width: 615px;
	padding-top: 20px;
}

#body_basket #pagecontent {
	background: #fff url(/img/bg-content-basket.gif) repeat-x left bottom;
	min-height: inherit;
}

#body_basket .email_block {
	padding-bottom: 10px;
}

#chooseside {
	margin-left: 188px !important;
	width: 342px !important;
	margin-top: -20px !important;
}

#chooseside label {
	min-width: inherit !important;
	margin-right: 25px !important;
}

#body_edit #chooseside {
	margin-left: 187px!important;
}

#body_edit #chooseside.double_square {
	top: 615px!important;
	left: 23px!important;
}

#chooseside .double_square_p1 {
	background-image: url(/img/gfx/icon_double_square_p1.png);
}

#chooseside .double_square_p2 {
	background-image: url(/img/gfx/icon_double_square_p2.png);
}

#chooseside .double_square_p3 {
	background-image: url(/img/gfx/icon_double_square_p3.png);
}

#chooseside .double_square_p4 {
	background-image: url(/img/gfx/icon_double_square_p4.png);
}

#chooseside .single_landscape_p1 {
	background-image: url(/img/gfx/icon_single_landscape_p1.png);
	width: 69px;
}

#chooseside .single_landscape_p2 {
	background-image: url(/img/gfx/icon_single_landscape_p2.png);
	width: 69px;
}

#body_edit #chooseside.single_landscape {
	top: 49px!important;
}

#chooseside .double_landscape_p1 {
	background-image: url(/img/gfx/icon_double_landscape_p1.png);
	width: 63px;
}

#chooseside .double_landscape_p2 {
	background-image: url(/img/gfx/icon_double_landscape_p2.png);
	width: 50px;
}

#chooseside .double_landscape_p3 {
	background-image: url(/img/gfx/icon_double_landscape_p3.png);
	width: 50px;
}

#chooseside .double_landscape_p4 {
	background-image: url(/img/gfx/icon_double_landscape_p4.png);
	width: 64px;
}

#body_edit #chooseside.double_landscape {
	top: 44px!important;
}

#chooseside .single_portrait_p1 {
	background-image: url(/img/gfx/icon_single_portrait_p1.png);
	width: 38px;
}

#chooseside .single_portrait_p2 {
	background-image: url(/img/gfx/icon_single_portrait_p2.png);
	width: 38px;
}

#body_edit #chooseside.single_portrait {
	top: 46px!important;
}

#chooseside .double_portrait_p1 {
	background-image: url(/img/gfx/icon_double_portrait_p1.png);
	width: 40px;
}

#chooseside .double_portrait_p2 {
	background-image: url(/img/gfx/icon_double_portrait_p2.png);
	width: 52px;
}

#chooseside .double_portrait_p3 {
	background-image: url(/img/gfx/icon_double_portrait_p3.png);
	width: 53px;
}

#chooseside .double_portrait_p4 {
	background-image: url(/img/gfx/icon_double_portrait_p4.png);
	width: 41px;
}

#body_edit #chooseside.double_portrait {
	top: 43px!important;
}

#body_edit #chooseside .single_square_p1 {
	background-image: url(/img/gfx/icon_single_square_p1.png);
	width: 45px;
}

#body_edit #chooseside .single_square_p2 {
	background-image: url(/img/gfx/icon_single_square_p2.png);
	width: 45px;
}

#body_edit #chooseside.single_square {
	top: 37px!important;
}

#body_size .info_div_content {
	display: none;
}

#body_check #pagecontent {
	min-height: 505px;
	padding-bottom: 100px !important;
}

#body_basket #rebate {
	background: none;
	border: none;
	padding: 0;
	margin: -73px 0 100px 0;
	width: auto;
	height: auto;
	float: none !important;
	overflow: hidden;
}

#body_basket div#rebate span {
	display: none;
}

#body_basket div#rebate .tit-rebate {
	padding: 0;
	float: left;
	font-weight: bold;
	width: 120px;
	padding-top: 5px;
}

#body_basket div#rebate .cont-rebate {
	float: left;
}

#body_basket div#rebate .cont-rebate input[name="actiecode"] {
	width: 160px;
	margin-right: 10px;
	vertical-align: middle;
}

#body_basket div#rebate .cont-rebate input[type="submit"] {
	background: #7ac9d0;
	margin: 0 !important;
	text-transform: none !important;
	vertical-align: middle;
	height: 34px !important;
	width: auto !important;
	border: 1px solid #7ac9d0;
	border-right: 1px solid #66bfd1;
	border-top: 1px solid #66bfd1;
	padding: 0 15px;
	line-height: 34px;
	padding-bottom: 3px;
	color: #fff;
	/*font-family: 'Neucha', cursive !important;*/
	font-size: 18px;
}

#body_basket div#rebate .cont-rebate input[type="submit"]:hover {
	background: #7ac9d0;
}

.reference_block,
.email_block {
	clear: both;
	overflow: hidden;
}

.reference_block br {
	display: none;
}

.email_block {
	padding-bottom: 10px;
}

.reference_block label,
.email_block label {
	float: left;
	width: 335px;
	padding-right: 10px;
	text-align: right;
	color: #262626;
	line-height: 16px;
}

.reference_block label {
	padding-top: 6px;
}

#body_basket div#rebate .cont-rebate input[name="actiecode"],
.reference_block input,
.email_block input {
	float: left;
	padding: 8px 5px;
	width: 229px;
	border: 1px solid #d3d3d3;
	border-top-color: #b4b4b4;
	border-right-color: #b4b4b4;
	-moz-box-shadow: inset -1px 1px #d9d9d9;
	-webkit-box-shadow: inset -1px 1px #d9d9d9;
	box-shadow: inset -1px 1px #d9d9d9;
}

.reference_block .line,
.email_block .line {
	display: none;
}

.twoline {
	display: block;
}

.oneline {
	display: none;
}

.delbtn {
	display: block;
	width: 120px;
	height: 28px;
	text-indent: -9999em;
	background: url(/img/delete.png) no-repeat 0 0;
}

.delbtn:hover {
	background: url(/img/delete.png) no-repeat 0 -29px;
}

.delbtn:active {
	background: url(/img/delete.png) no-repeat 0 -58px;
}

.optiondisplay {
	display: none;
}

.ui-datepicker-current-day .ui-state-active {
	color: #7ac9d0 !important;
}

.ui-datepicker-today .ui-state-active {
	color: #0B0012 !important;
}

#body_basket #pagecontent {
	background-image: none;
	padding-bottom: 120px;
}

#body_address_n #pagecontent {
	padding-bottom: 120px;
}

#body_address_n #left_div table {
	width: 100% !important;
	padding-right: 0 !important;
}

#body_address_n #left_div {
	border-right: 1px solid #7ac9d0 !important;
	width: 740px;
	padding-right: 59px;
}

#body_address_n #left_div table {
	border-right: none !important;
}

#body_address_n #right_div {
	float: right;
}

#basket_n td {
	padding-top: 3px;
	padding-bottom: 3px;
}

#body_basket #basket_n {
	width: 100%;
}

#body_basket #nav_buttons .button[href="/"] {
	background: url(/img/icons.png) no-repeat left -923px;
	/*font-family: 'Neucha', cursive;*/
	color: #7ac9d0;
	font-size: 18px;
	line-height: 18px;
	width: auto;
	font-weight: normal;
}

#body_basket #nav_buttons .button[href="/"]:hover {
	text-decoration: underline;
}

#basket_n .button {
	background: inherit;
	color: #7ac9d0 !important;
	width: auto;
	margin-right: 15px;
	height: auto !important;
	line-height: normal; !important;
	text-transform: capitalize;
}

#basket_n .button:hover {
	background: none;
	text-decoration: underline;
}

#body_address_n #pagecontent .line {
	border: none !important;
}

#body_address_n #pagecontent hr {
	background: #7ac9d0;
}

#body_address_n #left_div table td {
	padding-top: 2px;
	padding-bottom: 2px;
}

#body_bestel_details #price_table td,
#body_bestel_details #column2,
#body_address_n #left_div table {
	border-color: #7ac9d0 !important;
}

#body_bestel_details #pagecontent {
	padding-bottom: 80px;
}

#body_bestel_details #price_table td {
	padding-top: 5px;
}

#body_bestel_details .ui-dialog {
	width: 302px !important;
}

#body_bestel_details .ui-widget-header {
	background: #7ac9d0 !important;
	color: #fff !important;
}

#body_address_n #left_div input[type="text"] {
	width: 98%;
}

#body_address_n #left_div select {
	padding: 8px 0;
	width: 100%;
}

#body_bestel_details #adv02 {
	background: url(/img/envelopsize-info.png) no-repeat 0 22px;
}

#basket_n a {
	padding-right: 14px;
}

#basket_n a.button {
	margin-right: 0;
	text-align: left;
	font-size: 16px;
}

#basket_n input.button {
	background: url(/img/ico-arrows.png) no-repeat right center;
	padding-right: 24px;
	font-size: 16px;
}

#basket_n input.button:hover {
	background: url(/img/ico-arrows.png) no-repeat right center;
}

#basket_n a:after {
	content: '>>';
	text-indent: inherit !important;
	top: 0;
	right: 0;
	margin-left: 5px;
}
#body_edit div.tag_group{min-height:inherit;float:none;clear: both;}
#tag_dialog #tag .tag_group br{display:none;}
#tag_dialog #tag .tag_group b{display:block;cursor:pointer;}
#tag_dialog #tag .tag_group .tag-inner{display:block;overflow:hidden;}
#tag_dialog #tag .tag_group span{float:left;width:20%;}

#body_address #pagecontent {
	min-height: 585px;
	padding-bottom: 100px;
}

#body_bestel_details .ui-selectmenu-button {
	padding: 0;
}

#body_bestel_details .ui-selectmenu-text {
	height: auto;
}

#body_bestel_details input[type=text] {
	height: auto !important;
}

#body_bestel_details #column2 {
	float: right;
	width: 392px;
}

#body_bestel_details #column1 {
	width: 550px;
	padding-top: 36px;
}

#body_bestel_details h2 {
	margin-bottom: 5px;
}

#body_bestel_details td {
	vertical-align: top;
}

#body_bestel_details #card_size_select-menu li {
	height: 40px;
	line-height: 35px;
}

#body_address_n input[type="text"] {
	width: 100% !important;
}

#body_address_n #send_date_picker {
	margin-top: 0 !important;
}

#body_bestel_details .ui-selectmenu-text, #body_bestel_details .ui-menu-item {
	font-size: 14px;
	font-weight: 300;
}

#papier_preview,
#enveloppen_preview {
	display: none;
}

#body_eigen_collectie #pagecontent {
	padding-bottom: 100px;
}

#body_eigen_collectie #verzend_form .namecard {
	display: block;
}

/* # clearfix
---------------------------------------------------------------------------- */
#wrapper,
#body_addresses #order_address_preview div,
#bt-pattern,
#bt-color,
#nav_buttons,
#pagecontent {
	zoom: 1;
}

#wrapper:after,
#body_addresses #order_address_preview div:after,
#bt-pattern:after,
#bt-color:after,
#nav_buttons:after,
#pagecontent:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

#body_edit #canvas * {
    box-sizing:initial !important;
}

.sp-button-container {
    padding-top: 100px;
}

.ui-dialog-titlebar-close {
	background-image: url('/img/btn-close.png') !important;
	background-repeat: no-repeat;
	background-position: 0 0;
}
