.accordion {
    list-style-type: none;
    padding: 0;
    border-top: 4px solid @accordion-border-bottom-color;
    /*border-bottom: 1px solid @accordion-border-bottom-color;*/
    background-color: @accordion-bg-color;
    margin-bottom: 0;
    > .active {
        color: @accordion-active-color!important;
    }
    .show {
        display: block!important;
    }
    > a {
        display: block;
        vertical-align: middle;
        background-color: @accordion-link-bg-color;
        padding: 10px 0;
        color: @accordion-link-color;
        font-family: @titFont;
        font-size: 22px;

        > i {
            float: right;
            font-size: 12px;
        }
        &:hover{
            color: @accordion-active-color;
        }
    }
    .accordion-body {
        display: none;
        padding: 5px;
        ul {
            margin-bottom: 0;
            margin-top: 0;
            li {
                a {
                    font-family: @mainFont;
                    padding: 5px 0px 5px 5px;
                    > i {
                        font-size: 13px !important;
                        padding-right: 3px !important;
                    }
                    &.active {
                        color: @accordion-active-color;
                    }
                }
            }
        }
    }
}