#big-banner {
    background: url(/img/banner/bg-banner.jpg) no-repeat 0 0;
    background-size: 100% 100%;
    width: 100%;
    height: 316px;
    position: relative;
    margin-bottom: 20px;
    .paragraph {
        color: #919191;
        width: 67%;
        padding: 30px 0 0 30px;
        font-size: 18px;
        h1 {
            font-family: @otherFont;
            color: #919191;
            font-size: 45px;
            line-height: normal;
            margin: 0 0 15px 0;
            font-weight: normal;
        }
    }
    .label-block {
        position: absolute;
        right: 58px;
        top: 30px;
        .image {
            width: 285px;
            height: 135px;
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
            &:after {
                content: "";
                background: url(/img/banner/banner_pijl2.png) no-repeat 0 0;
                background-size: 100% 100%;
                width: 52px;
                height: 68px;
                display: block;
                position: absolute;
                right: -31px;
                top: -37px;
            }
            &:before {
                content: "";
                background: url(/img/banner/banner_pijl1.png) no-repeat 0 0;
                background-size: 100% 100%;
                width: 35px;
                height: 68px;
                display: block;
                position: absolute;
                left: -35px;
                top: -39px;
            }
        }
        .label {
            display: block;
            background: url(/img/banner/banner_vlak.png) no-repeat 0 0;
            background-size: 100% 100%;
            width: 285px;
            height: 94px;
            line-height: 94px;
            text-align: center;
            color: #fff;
            font-family: @otherFont;
            font-size: 23px;
            margin-bottom: 20px;
            span {
                display: block;
                ms-transform: rotate(-6deg);
                -webkit-transform: rotate(-6deg);
                transform: rotate(-6deg);
            }
        }
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    #big-banner {
        height: 290px;
        .paragraph {
            font-size: 15px;
            line-height: 25px;
            padding: 15px 0 0 15px;
            width: 65%;
            h1 {
                font-size: 50px;
                margin-bottom: 10px;
            }
        }
        .label-block {
            right: 30px;
            top: 40px;
            .image {
                height: auto;
                width: 230px;
                &:after {
                    width: 37px;
                    height: 53px;
                    right: -28px;
                    top: -42px;
                }
                &:before {
                    width: 25px;
                    height: 58px;
                    left: -25px;
                }
            }
            .label {
                font-size: 19px;
                width: 100%;
                height: 76px;
                line-height: 76px;
            }
        }
    }
}

@media only screen and (max-width : @md) {
    #big-banner {
        background: none;
        text-align: center;
        height: auto;
        margin-bottom: 40px;
        .paragraph {
            width: 100%;
            padding-right: 15px;
            p {
                font-size: 16px;
            }
        }
        .label-block {
            display: none;
        }
    }
}

@media only screen and (max-width : @xsm) {
    #big-banner {
        .paragraph {
            h1 {
                font-size: 30px;
            }
        }
    }
}