@media only screen and (max-width : @xs) {
    .xsm-hide, .xsm-hide, .md-hide, .lg-hide {
        display: block;
    }
    .xs-hide {
        display: none;
    }
}

@media only screen and (max-width:@xsm) and (min-width:@xs) {
    .xs-hide, .sm-hide, .md-hide, .lg-hide {
        display: block;
    }
    .xsm-hide {
        display: none;
    }
}

@media only screen and (max-width:@sm) and (min-width:@xsm) {
    .xs-hide, .xsm-hide, .md-hide, .lg-hide {
        display: block;
    }
    .sm-hide {
        display: none;
    }
}

@media only screen and (max-width:@md) and (min-width:@sm) {
    .xs-hide, .xsm-hide, .sm-hide, .lg-hide {
        display: block;
    }
    .md-hide {
        display: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width:@lg) and (min-width:@md) {
    .xs-hide, .xsm-hide, .sm-hide, .md-hide {
        display: block;
    }
    .lg-hide {
        display: none;
    }

}

@media (min-width: @sm){
    .dl-horizontal dd {
        margin-left: 140px;
    }
    .dl-horizontal dt {
        float: left;
        width: 140px;
        overflow: hidden;
        clear: left;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.hide {
    display: none;
}

#headermenu {
    display: none!important;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
}
i {
    display: inline-block;
}

.sidebar-head {
    font-family: 'kg_love_somebodyregular';
    color: #45adba;
    font-size: 22px;
    margin-bottom: 20px;
}

body{
    color:#262626;
    font-size:16px;
    line-height:27px;
    font-family:@mainFont;
    padding: 0;
    margin: 0;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

.transition-ease {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.navbar:after .container:after, .cols:after, topbar:after, middlebar:after, .topbar-left:after, .topbar-right:after, topbar-menu:after {
    clear: both;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

ul {
    padding: 0;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dd, dt {
    line-height: 1.42857143;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.navbar:after,
.navbar:before,
.container:after,
.container:before,
.cols:after,
.cols:before,
.form-horizontal .input-group:after,
.form-horizontal .input-group:before{
    display: table;
    content: " ";
}

ul {
    list-style: none;
}

a {
    color: @link-color;
    outline: none;
    text-decoration: none;
    &:hover {
        color:@link-hover-color;
    }
    &:active {
        color: @link-active-color;
    }
    &:focus {
        color: @link-focus-color;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: @titFont;
    font-weight:normal;
    color:#5c6d71;
    margin-bottom: 15px;
}

h1 {
    font-size:28px;
    color: @h1-color;
    margin-top: 23px;
    margin-bottom: 30px;
    font-weight: 700;
}

h2 {
    font-size:24px;
    color: @h2-color;
}

h3 {
    font-size:20px;
    color: @h3-color;
}

h4 {
    font-size:16px;
    color: @h4-color;
}

h5 {
    font-size:16px;
    color: @h5-color;
}

h6 {
    font-size:16px;
    color: @h6-color;
}

.container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    clear: both;
    height: 100%;
    max-width: 1200px;
    width: 100%;
}

img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.img-circle {
    border-radius: 50%!important;
}

.text-left {
    text-align: left!important;
}

.text-center {
    text-align: center!important;
}

.text-right {
    text-align: right!important;
}

.text-default {
    color: @text-default-color;
}
.text-primary {
    color: @text-primary-color;
}
.text-success {
    color: @text-success-color;
}
.text-warning {
    color: @text-warning-color;
}
.text-danger {
    color: @text-danger-color;
}
.text-info {
    color: @text-info-color;
}

.text-xs {
    font-size: 0.6em!important;
}

.text-xsm {
    font-size: 0.8em!important;
}

.text-sm {
    font-size: 1.0em!important;
}

.text-md {
    font-size: 1.2em!important;
}

.text-lg {
    font-size: 1.4em!important;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

#rich-menu-content {
    border: 1px solid black;

}

#rich-menu-content:after {
    clear: both;
}

#rich-menu-content .rich-snippets {
    width: 100%;
    float: none;
}

#rich-menu-content span {
    display: inline!important;
}

#rich-menu-content .rich-snippets .btn-feedback {
    display: block;
    text-align: center;
    background: #00a0ba;
    color: #fff;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-top: 8px;
    width: 100%;
    padding: 0 5px;
}

.cols {
    position: relative;
}

@media only screen and (min-width : 993px) and (max-width : 1180px) {
    #nav {
        padding-left: 20px;
        padding-top: 44px;
    }
    #nav .search-input input {
        width: 150px;
    }
    #nav .search-input input::-moz-placeholder{
        font-size: 19px;
    }
    #nav ul li a {
        font-size: 20px;
    }
    #nav .nav-search {
        padding-left: 0;
    }
    .logobar .logo {
        width: 180px;
    }
}

@media only screen and (max-width : 980px) {
    #footer {
        margin-top: 130px !important;
    }
}

.ups-block{
    font-size: 14px;
    h3{
        font-size: 28px;
        padding: 7px 0 10px;
        margin: 0;
        font-weight: 700;
    }
    li{
        letter-spacing: -1px;
        &:before{
            content: "\f0c8";
            padding-right: 5px;
            font-family: FontAwesome;
            font-size: 5px;
            vertical-align: middle;
        }
    }
    .btn-kaart{
        margin: 17px 0 0 0;
        a{
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            width: 100%;
            position: relative;
            font-family: @buttonFont;
            font-size: 24px;
            border: 1px solid #fef184;
            border-bottom: 1px solid #d0c031;
            border-right: 1px solid #d0c031;
            padding-right: 30px;
            margin: 0;
            background-color: #fde93c;
            color: #199eba;
            &:after{
                content: ">";
                color: @link-color;
                font-family: 'Fineliner';
                position: absolute;
                right: 20px;
                top: 3px;
                font-size: 28px;
            }
            &:hover{
                color: #199eba;
                background-color: #f2e61c;
            }
        }
    }
}

.ups-page{
    .btn-kaart{
        margin: 25px 0 0 0;
        a{
            padding-top: 0;
            padding-bottom: 0;
            font-family: 'Fineliner';
            font-size: 26px;
            line-height: 38px;
            &:after{
                top: 0;
            }
        }
    }
}

.block-ads{
    margin-top: 20px;
    margin-bottom: 20px;
    h3{
        border-top: 4px solid #e1e1e1;
        font-size: 20px;
        margin: 0;
        padding: 7px 0 13px;
    }
    p{
        margin: 0;
    }
    .thumb{
        padding-bottom: 8px;
        text-align: center;
    }
}

#sidebar-footer{
    background-color: #cef7fd;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    .feedback{
        font-style: italic;
        color: #7a7979;
        line-height: 23px;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .revCon{
        font-weight: 600;
        font-size: 15px;
        img{
            padding-bottom: 10px;
        }
    }
    .revTitle{
        display: block;
        font-family: @titFont;
        color: @h1-color;
        font-weight: 500;
        font-size: 20px;
        padding-bottom: 15px;
    }
}

#crumbs{
    margin-top: -5px;
}

#footer{
    padding-bottom: 50px;
}

#card_previews{
    .ui-sortable-handle{
        float: left;
        width: 25%;
        img{
            width: 100%;
            height: auto;
        }
    }
}

#card_previews.ui-sortable{
    div{
        img{
            width: 100%;
            height: auto;
            max-width: 180px;
            margin: 0 auto;
            display: block;
        }
    }
    .admTls{
        width: 100%;
        float: none;
    }
    .trash_icon{
        z-index: 10;
        background-image: url("/common/gfx/trash-icon.png");
        height: 23px;
        margin-left: -20px;
        margin-top: 174px;
        position: absolute;
        width: 17px;
        &:hover{
            background-image: url("/common/gfx/trash-red-icon.png");
        }
    }
}

#body_design{
    #sidebar{
        display: none;
    }
    #pagecontent{
        max-width: 100%;
        width: 100% !important;
    }
    div.leftCol{
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 50%;

        .select_preview{
            text-align: center;
            width: 100%;
            span{
                display: inline-block;
                margin-right: 25px;
                vertical-align: top;
            }
            img{
                cursor: pointer;
                height: auto;
                max-height: 130px;
                max-width: 120px;
                width: auto;
            }
            span:last-child img{
                max-height: 160px;
                max-width: 180px;
            }
            span.envview{
                height: 99px;
                position: relative;
                width: 115px;
                img{
                    left: 0;
                    position: absolute;
                    top: 0;
                    z-index: 1;
                }
                span.env{
                    background: #eeeded url("/img/envtransklein.png") no-repeat 0 0;
                    background-size: 75px 75px;
                    display: inline-block;
                    height: 75px;
                    position: absolute;
                    right: -45px;
                    top:0;
                    width: 75px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    -webkit-transform: rotate(14deg);
                    -moz-transform: rotate(14deg);
                    -o-transform: rotate(14deg);
                    -ms-transform: rotate(14deg);
                }
            }
        }
    }
    div.rightCol{
        display: inline-block;
        float: right;
        vertical-align: top;
        width: 40%;
        div.details{
            background-color: #fff;
            border: 1px solid #dcdbd9;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            box-sizing: border-box;
            padding: 25px 25px 35px;

            h1{
                margin-top: 0;
            }
            .button{
                color: #199eba;
                background-color: #fde93c;
                font-size: 26px;
                font-family: @titFont;
                position: relative;
                font-weight: 700;
                padding: 0 12px;
                height: 48px;
                line-height: 48px;
                box-sizing: border-box;
                display: block;
                text-align: center;
                border-color: #fef184 #d0c031 #d0c031 #fef184;
                &:hover {
                    color: #199eba;
                    background-color: #f2e61c;
                    border-color: #fef184 #d0c031 #d0c031 #fef184;
                }
                &:after{
                    content: ">";
                    color: @link-color;
                    font-family: 'Fineliner';
                    position: absolute;
                    right: 20px;
                    top: 0;
                    font-size: 28px;
                }
            }
            .proefDrukPrijs{
                font-size: 14px;
                text-align: center;
                display: block;
                padding-top: 15px;
            }
            .save_user_design{
                display: block;
                font-size: 18px;
                text-align: center;
                margin-top: 5px;
                text-transform: lowercase;
                &:before{
                    content: "u";
                    font-family: "kcicons";
                    font-size: 24px;
                    color: @link-color;
                    vertical-align: middle;
                    padding-right: 7px;
                }
            }
            .save_user_design_added{
                &:before{
                    content: "t";
                }
            }
        }
        .desUsp{
            background-color: #f2ecec;
            border: 1px solid #dcdbd9;
            border-top: none;
            -webkit-border-radius: 0 0 8px 8px;
            -moz-border-radius: 0 0 8px 8px;
            border-radius: 0 0 8px 8px;
            padding: 15px 25px;
            box-sizing: border-box;
            width: 100%;
        }
        .extraBox{
            margin-top: 20px;
            text-align: center;
            p,span{
                display: inline-block !important;
                font-size: 13px !important;
                font-weight: normal;
                margin: 0 !important;
                vertical-align: top;
            }
            span.revCon{
                font-weight: normal;
                br{
                    display: none;
                }
            }
        }
        div.detAccord{
            border-bottom: 1px solid #dcdbd6;
            box-sizing: border-box;
            &:first-child{
                border-top: 1px solid #dcdbd6;
                margin-top: 25px;
            }
            div.detAccordTitle{
                cursor: pointer;
                font-size: 14px;
                padding: 9px 0 7px;
                position: relative;
                text-transform: uppercase;
                width: 100%;
                &:after{
                    content: "+";
                    font-family: "kcicons";
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
            div.detAccordTitle.active{
                &:after{
                    content: "-";
                }
            }
            .innerHtml{
                display: none;
                font-size: 14px;
                padding-bottom: 15px;
                span{
                    display: inline-block;
                    float: left;
                    width: 150px;
                }
                .tags, .designer, .collectie, .prijsTab{
                    font-size: #96989b;
                    font-size: 14px;
                    span{
                        text-transform: uppercase;
                    }
                }
                .tags{
                    position: relative;
                }
            }
        }
        div.detAccord.first{
            border-top: 1px solid #dcdbd6;
            margin-top: 25px;
            .innerHtml{
                display: block;
            }
        }
        table.prijsOf{
            border-collapse:collapse;
            border-spacing:0;
            td.sizeTd{
                padding-right: 25px;
            }
            td.priceInfoTd{
                position: relative;
                width: 25px;
                div.priceHover{
                    background-color: #fff;
                    display: none;
                    padding:15px;
                    position: absolute;
                    right: 20px;
                    top:15px;
                    width: 270px;
                    z-index: 500;
                }
            }
            .priceTd span{
                display: inline-block;
                float: none;
                text-transform: lowercase !important;
                vertical-align: top;
                width: auto;
            }
        }
    }
    #knav{
        background:none;
        clear: both;
        border-top: 4px solid #e1e1e1;
        height: 250px;
        margin-top: 25px;
        padding-top: 10px;
        position: relative;
        white-space: nowrap;
        width: 100%;
        #next_page{
            border: 1px solid #6bbfca;
            -webkit-border-radius: 21px;
            -moz-border-radius: 21px;
            border-radius: 21px;
            color: #6bbfca;
            cursor: pointer;
            font-size: 21px;
            height: 42px;
            position: absolute;
            right: 15px;
            top: 100px;
            width: 42px;
            -webkit-transition: all 400ms ease;
            -moz-transition: all 400ms ease;
            -ms-transition: all 400ms ease;
            -o-transition: all 400ms ease;
            transition: all 400ms ease;
            &:before{
                font-family: 'kcicons';
                content: 'j';
                width: 42px;
                height: 42px;
                text-align: center;
                position: relative;
                left: 11px;
                line-height: 42px;
            }
            &:hover{
                border-color: #6bbfca;
                color: #fff;
                background: #6bbfca;
            }
        }
        #prev_page{
            position: absolute;
            top: 100px;
            cursor: pointer;
            left: 15px;
            font-size: 21px;
            color: #6bbfca;
            height: 42px;
            width: 42px;
            border: 1px solid #6bbfca;
            -moz-border-radius: 21px;
            -webkit-border-radius: 21px;
            border-radius: 21px;
            -webkit-transition: all 400ms ease;
            -moz-transition: all 400ms ease;
            -ms-transition: all 400ms ease;
            -o-transition: all 400ms ease;
            transition: all 400ms ease;
            &:before{
                font-family: 'kcicons';
                content: 'i';
                width: 42px;
                height: 42px;
                text-align: center;
                position: relative;
                left: 11px;
                line-height: 42px;
            }
            &:hover{
                border-color: #6bbfca;
                color: #fff;
                background: #6bbfca;
            }
        }
        #card_previews_horizontal{
            height: 250px;
            overflow: hidden;
            position: relative;
            width: auto;
            img{
                width: 180px !important;
                height: 200px !important;
            }
        }
        #inner a{
            display: inline-block;
            margin-right: 5px;
            vertical-align: top;
        }
    }
}

#filter_cards{
    margin-top: 30px;
}

#filter_menu{
    .tag-group-ul{
        margin-bottom: 0;
    }
    ul{
        li{
            h3{
                margin: 10px 0 5px;
            }
            label{
                margin-bottom: 0;
                cursor: pointer;
                font-weight: 300;
                .number-of-tags{
                    color: #ccc;
                    font-size: 14px;
                }
            }
        }
    }
}

#body_home {
    #step{
        margin-top: 0;
        padding-top: 0;
        border-top: none;
    }
    #categories{
        display: none;
    }
    #pagecontent{
        width: 100%;
        float: none;
    }
}

.md-15{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.kc-image-block {
    position: relative;
    margin-bottom: 20px;

    img {
        display: block;
        width:100%;
        height: auto;
    }

    .btn-default {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.kc-text-block {
    margin-bottom: 20px;

    ul {
        padding-left: 15px;

        li {
            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 5px;
                width: 5px;
                background-color: #199eba;
                margin-right: 6px;
            }
        }
    }

    .btn-default {
        width: 100%;
    }
}

.btn-default {
    background-color: #76cedc;
    color: #fff;
    font-family: 'Fineliner';
    font-size: 26px;
    line-height: 27px;
    padding: 6px 30px 6px 20px;
    display: inline-block;
    position: relative;
    min-width: 165px;
    text-align: center;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    border: 1px solid #61a9b5;
    border-left-color: #a9e0e9;
    border-top-color: #a9e0e9;

    &:hover {
        color: #fff;
        background-color: #5fbbc9;
    }

    &:after {
        content: "b";
        font-family: simplefly;
        position: absolute;
        right: 10px;
        top: 50%;
        font-size: 18px;
        margin-top: -13px;
    }

    &.btn-pink {
        background-color: #f3c4d4;
        border-color: #c8a1ae;
        border-left-color: #f7dae4;
        border-top-color: #f7dae4;

        &:hover {
            background-color: #e8aec2;
        }
    }

    &.btn-yellow {
        background-color: #fde93c;
        border-color: #c9b930;
        border-left-color: #fef184;
        border-top-color: #fef184;

        &:hover {
            background-color: #f1dd31;
        }
    }

    &.btn-zelf {
        color: #199eba;

        &:after {
            color: #199eba;
        }
    }
}

@media only screen and (min-width : @md) {
    .md-15{
        float: left;
        width: 20%;
    }
}

@media only screen and (max-width : @sm) {
    .md-15 {
        width: 50%;
        float: left;
    }

    #footer {
        margin-top: 30px !important;
    }

    #footer-inner {
        padding: 25px 10px;
    }

    .home-left:after {
        top: 0.5%;
        left: 19px;
        width: 29.5%;
        height: 98.6%;
    }
}

#body_account_adres_import,
#body_account_adresboek,
#body_account_nieuwsbrief,
#body_account_password,
#body_account_orders,
#body_account_settings,
#body_account,
#body_account_address {
    #categories {
        display: none;
    }

    #pagecontent {
        float: none;
        width: 100%;
    }
}

.container {
    zoom: 1;
}

.container:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}