.button {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #00a9ce;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 3px;
    font-family: @titFont;
    transition: background 0.3s ease;

    &:hover,
    &:focus,
    &:active {
        color: #fff;
        background-color: #01b1d8;
    }

    &.has-arrow {
        background: #00a9ce url(/img/icons/ico-arrow-1.png) no-repeat right 16px center;
        padding: 10px 45px 8px 19px;

        &:hover {
            background-color: lighten(#00a9ce, 5%);
            background-position: right 8px center;
        }
    }

    &.button-white {
        background-color: #fff;
        color: #5c6d71;

        &.has-arrow {
            background: #ffffff url(/img/icons/ico-arrow-2.png) no-repeat right 18px center;
            padding: 3px 38px 1px 10px;

            &:hover {
                background-color: darken(#ffffff, 10%);
                background-position: right 8px center;
            }
        }
    }
}