/********************************************
/* H TAGS */
/********************************************/
@h1-color: #5c6d71;
@h2-color: #5c6d71;
@h3-color: #5c6d71;
@h4-color: inherit;
@h5-color: inherit;
@h6-color: inherit;

/********************************************
/* TEXT */
/********************************************/
@text-default-color: #262626;
@text-success-color: #F5871E;
@text-warning-color: #F6C61E;
@text-danger-color: #FA9485;
@text-info-color: #F5871E;
@text-primary-color: #6FD4CE;

/********************************************
/* INPUT CHECKBOX */
/********************************************/
@checkbox-bg-color: #ccc;
@checkbox-border-color: #cacece;
@checkbox-checked-bg-color: #F78621;
@checkbox-checked-border-color: #adb8c0;
@checkbox-checked-color: #fff;


/********************************************
/* LINK */
/********************************************/
@link-color: #079ebd;
@link-hover-color: #0786a2;
@link-active-color: #0786a2;
@link-focus-color: #0786a2;

/********************************************
/* LOGO */
/********************************************/
@logo-link-color: #00a9cc;
@logo-link-hover-color: #00a9cc;
@logo-link-active-color: #00a9cc;
@logo-link-focus-color: #00a9cc;

/********************************************
/* NAVBAR */
/********************************************/

@navbar-bg-color: #e1e1e1;

/* search color */
@navbar-search-bg-color: #e1e1e1;

/* navbar li colors*/
@middlebar-list-border-color: #fff;

/* link colors */
@middlebar-link-color: #00a9ce;
@middlebar-link-hover-color: darken(@middlebar-link-color, 10%);
@middlebar-link-active-color: @middlebar-link-color;
@middlebar-link-focus-color: @middlebar-link-color;

/* Dropdown */
@navbar-dropdown-hover-bg-color: #e1e1e1;

/* navbar li colors*/
@topbar-list-bg-color: transparent;
@topbar-list-hover-bg-color: #FFDEBD;

/* link colors */
@topbar-left-link-color: #1a9ebb;
@topbar-left-link-hover-color: #1fb7d9;
@topbar-left-link-active-color: #1fb7d9;
@topbar-left-link-focus-color: #1fb7d9;

@topbar-right-link-color: #979797;
@topbar-right-link-hover-color: #1a9ebb;
@topbar-right-link-active-color: #1a9ebb;
@topbar-right-link-focus-color: #1a9ebb;

/* Border color */
@topbar-list-border-color: #F1B988;


/********************************************
/* BUTTON-BLOCK */
/********************************************/
@button-block-bg-color: transparent;
@button-block-link-bg-color: #bcdde4;
@button-block-link-hover-bg-color: #94ceda;
@button-block-link-active-bg-color: #94ceda;
@button-block-link-focus-bg-color: #94ceda;
@button-block-title-color: #199eba;
@button-block-text-color: #666668;

/********************************************
/* CARDBLOCK */
/********************************************/
@card-block-bg-color: #FDF3E9;
@card-block-border-color: #e4e8e8;
@card-block-title-color: #F68620;
@card-block-footer-color: #F68620;


/********************************************
/* BUTTON-BLOCK-IMG */
/********************************************/
@button-block-img-bg-color: transparent;
@button-block-img-link-bg-color: transparent;
@button-block-img-link-hover-bg-color: transparent;
@button-block-img-link-active-bg-color: transparent;
@button-block-img-link-focus-bg-color: transparent;
@button-block-img-title-color: #fff;
@button-block-img-text-color: #fff;

/********************************************
/* LIST-HORIZONTAL */
/********************************************/

@button-horizontal-color: #262626;
@button-horizontal-hover-color: #199eba;
@button-horizontal-active-color: #199eba;
@button-horizontal-focus-color: #199eba;
@button-horizontal-sub-color: #262626;

/********************************************
/* BREADCRUMB */
/********************************************/

@breadcrumb-color: inherit;
@breadcrumb-hover-color: #FFDDBF;
@breadcrumb-active-color: #FFDDBF;
@breadcrumb-focus-color: #FFDDBF;

/********************************************
/* THUMBNAILS */
/********************************************/
@thumbnail-bg-color: #fff;
@thumbnail-border-color: #DFE5E5;
@thumbnail-footer-bg-color: #fff;
@thumbnail-footer-h3-color: #F59A4B;
@thumbnail-footer-p-color: inherit;

@thumbnail-fluid-img-bg-color: #ccc;
@thumbnail-fluid-footer-bg-color: #FFECDB;
@thumbnail-fluid-footer-h3-color: #F59A4B;
@thumbnail-fluid-footer-p-color: inherit;

@thumbnail-button-border-color: transparent;

/********************************************
/* FIELD */
/********************************************/

@field-input-bg-color: #fff;
@field-input-color: #555;
@field-input-border-color: #ccc;
@field-input-select-bg-color: #FFECDB;

/********************************************
/* ACCORDION */
/********************************************/
@accordion-bg-color: transparent;
@accordion-active-color: #199eba;
@accordion-border-bottom-color: #DFE5E5;

@accordion-link-bg-color: transparent;
@accordion-link-color: #199eba;

/********************************************
/* BOX */
/********************************************/
@box-bg-color: #fff;
@box-border-color: #E4E8E8;
@box-footer-border-top-color: #E4E8E8;

@box-default-body-bg-color: #fff;
@box-default-footer-bg-color: #fff;

@box-primary-body-bg-color: #fff;
@box-primary-footer-bg-color: #F2ECEC;

/********************************************
/* CAROUSEL */
/********************************************/
@carousel-bg-color: transparent;
@carousel-border-color: transparent;

/********************************************
/* LIST-VERTICAL */
/********************************************/
@list-vertical-link-color: #262626;
@list-vertical-link-active-color: #199eba;
@list-vertical-link-hover-color: #199eba;
@list-vertical-link-focus-color: #199eba;

@list-vertical-list-sub-border-left-color: #FBC095;
@list-vertical-link-sub-color: #262626;
@list-vertical-link-sub-active-color: #199eba;
@list-vertical-link-sub-hover-color: #199eba;
@list-vertical-link-sub-focus-color: #199eba;

/********************************************
/* PILLS */
/********************************************/

@pills-bg-color: transparent;
@pills-border-bottom-color: #ccc;
@pills-list-border-color: #ccc;

@pills-link-bg-color: #FFEACE;
@pills-link-color: #E0B592;

@pills-link-active-color: inherit;
@pills-link-hover-color: inherit;
@pills-link-focus-color: inherit;

@pills-link-active-bg-color: #FEDDBD;
@pills-link-hover-bg-color: #FEDDBD;
@pills-link-focus-bg-color: #FEDDBD;

/********************************************
/* TABLE */
/********************************************/
@table-bg-color: #fff;
@table-border-color: #ddd;
@table-thead-bg-color: #FBF7F8;

/********************************************
/* THUMBNAIL-CARD */
/********************************************/
@thumbnail-card-bg-color: #fff;
@thumbnail-card-border-color: transparent;
@thumbnail-card-label-bg-color: transparent;

/********************************************
/* THUMBNAIL-PEOPLE */
/********************************************/
@thumbnail-people-bg-color: transparent;
@thumbnail-people-border-color: transparent;
@thumbnail-people-h3-color: #f59a4b;
@thumbnail-people-p-color: inherit;

/********************************************
/* THUMBNAIL-SLIDER */
/********************************************/
@thumbnail-slider-bg-color: #FDF3E9;
@thumbnail-slider-border-color: #E4E8E8;

/********************************************
/* THUMBNAIL-SCROLLER */
/********************************************/
@thumbnail-scroller-bg-color: transparent;
@thumbnail-scroller-bg-image: url(https://hippe-geboortekaartjes.nl/img/prevLine.png) no-repeat top center;

/********************************************
/* VISUAL */
/********************************************/
@visual-bg-color: transparent;
@visual-border-bottom: #ccc;