#wrapper {
    padding: 0 15px;
    overflow: hidden;
}

@media only screen and (min-width : 1230px) {
    #wrapper {
        padding: 0;
        overflow: auto;
    }
}

.custom_content {
    a {
        color: #7ac9d0;
        &:hover {
            color: #7ac9d0;
            text-decoration: underline;
        }
    }
}

.details.cols {
    display: block;
    clear: both;
}