#footer{
    margin-top: 30px;
    padding-bottom: 0;
}

#footer-inner {
    background-color: #f5f5f5;
    padding: 20px 0 30px;

    .feedback-wrap,
    .rich-snippets {
        width: 60%;
        float: left;
        padding-right: 20px;
        box-sizing: border-box;
    }

    .rich-snippets {
        font-size: 12px;
        width: 40%;

        b {
            font-size: 16px;
            display: block;
        }

        h2 {
            font-size: 26px;
            line-height: normal;
            margin: 4px 0 7px;
        }

        .button {
            margin-top: 12px;
        }
    }

    .rich-snippets span,
    .rich-snippets font,
    .rich-snippets img {
        vertical-align: middle;
    }

    .feedback-wrap {
        height: 120px;
        position: relative;

        .feedback-inner {
            position: absolute;
            height: 100%;
            width: 100%;
            bottom: 0;
            left: 0;

            .feedback {
                font-size: 15px;
                color: #262626;
                font-style: italic;

                p {
                    bottom: 0;
                    margin: 0;
                    line-height: 24px;
                }
            }
        }
    }

    .payment {
        text-align: right;
        padding-top: 10px;
    }
}

.fnav {
    background-color: #1a9ebb;
    color: #fff;
    padding: 26px 0;

    a {
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }

    h2 {
        color: #fff;
        margin-bottom: 10px;
        font-size: 22px;
    }

    ul {
        li {
            font-size: 14px;
        }
    }
}

.copyright {
    font-size: 13px;
    color: #216e7f;
    padding: 14px 0 10px;

    .cright {
        float: left;
        width: 70%;
    }

    .flogo {
        float: right;
    }
}