.main-info {
    text-align: center;
    color: #5c6d71;
    font-size: 14px;
    font-family: @titFont;
    text-transform: uppercase;
    font-weight: 600;
    padding: 22px 14px;

    p {
        margin: 0;

        span {
            color: #00a9ce;
        }
    }
}

.category-box {
    .block-left,
    .block-right {
        padding: 0 14px;
        width: 100%;
        box-sizing: border-box;
    }

    .samen {
        position: relative;
        max-width: 383px;
        margin: 0 auto 28px;

        img {
            width: 100%;
            display: block;
        }

        .samen-content {
            position: absolute;
            left: 30px;
            bottom: 30px;
        }
    }

    .category-item {
        position: relative;
        margin-bottom: 28px;

        img {
            display: block;
            width: 100%;
        }

        .button-white {
            position: absolute;
            left: 10px;
            bottom: 10px;
        }
    }
}

.bottom-box {
    .block-left,
    .block-right {
        padding: 0 14px;
        box-sizing: border-box;
    }

    .block-left {
        margin-bottom: 30px;
    }

    h3,
    h2 {
        color: #5c6d71;
        font-size: 26px;
        margin-bottom: 21px;
    }

    .tips {
        background-color: #f0f3f2;
        padding: 27px 30px 30px;

        p, ol {
            list-style: none;
            font-size: 15px;
            color: #262626;
            line-height: 24px;
        }

        ol {
            counter-reset: li;

            li {
                padding-left: 17px;
                position: relative;
                padding-bottom: 24px;

                &:before {
                    content: counter(li);
                    counter-increment: li;
                    font-family: @titFont;
                    font-size: 26px;
                    color: #5c6d71;
                    position: absolute;
                    width: 17px;
                    top: 0;
                    left: 2px;
                }

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }

        .button {
            margin-top: 10px;
        }
    }

    .top-row {
        margin-bottom: 47px;

        .top-item {
            margin-bottom: 30px;
        }

        .thumb {
            padding-bottom: 17px;

            img {
                width: 100%;
            }
        }

        p {
            font-size: 15px;
            color: #262626;
            line-height: 24px;
            margin: 0;
        }
    }

    .banner {
        overflow: hidden;

        .button {
            font-size: 20px;
            text-transform: uppercase;
        }

        .image {
            float: left;
            max-width: 560px;
            width: 100%;

            img {
                width: 100%;
                max-width: 100%;
            }

            + div {
                float: left;
                margin-left: 37px;

                span {
                    font-family: @titFont;
                    display: block;
                    color: #00a9ce;
                    font-size: 28px;
                    text-transform: uppercase;
                    margin-top: 33px;
                    margin-bottom: 14px;
                }
            }
        }
    }
}

@media only screen and (min-width : @sm) {

}

@media only screen and (min-width : @md) {
    .category-box {
        .block-left,
        .block-right {
            float: left;
            width: 66.50%;
        }

        .block-right {
            width: 33.50%;
        }

        .samen {
            max-width: none;
            margin: 0;
        }
    }

    .bottom-box {
        .block-left,
        .block-right {
            float: left;
            width: 66.50%;
            margin: 0;
        }

        .block-left {
            width: 33.50%;
        }

        .top-row {
            .top-item {
                margin-bottom: 0;
            }
        }
    }
}