#header {
    margin-bottom: 28px;
}

.logo-mobile {
    padding-top: 51px;
    text-align: center;
    float: left;
    width: 111px;

    img {
        width: 100%;
    }
}

@media only screen and (min-width : @sm) {
    .logo-mobile {
        display: none;
    }
}

@media only screen and (max-width : 991px) {
    .navbar {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: auto;
        z-index: 99;
        background-color: @navbar-bg-color;

        .container {
            overflow: visible;
        }
        .navbar-hamburger {
            position: relative;
            display: block;
            cursor: pointer;
            float: left;
            height: 50px;
            padding: 9px 15px;
            background-color: transparent;
            background-image: none;
            border: 1px solid transparent;
            border-color: transparent;
            z-index: 5;
        }
        .navbar-hamburger .icon-bar {
            display: block;
            margin-top: 4px;
            width: 28px;
            height: 5px;
            border-radius: 1px;
            background-color: #64686D;
        }
        .collapse {
            position: fixed;
            display: none;
            background: #E1E1E1;
            width: 100%;
            overflow-y: scroll;
            top: 90px;
            left: 0;
            bottom: 0;
        }
        .topbar {
            background-color: @navbar-bg-color;
            .topbar-menu-left {
                display: none;
                li {
                    padding: 0 5px;
                    margin: 10px 0;
                }
            }
            .topbar-menu-right {
                position: absolute;
                padding-right: 10px;
                height: 100%;
                top: 0;
                right: 0;
                > ul {
                    > li {
                        display: inline-block;
                        vertical-align: middle;
                        border: 1px solid transparent;
                        a {
                            display: block;
                            height: 100%;
                            color: @topbar-right-link-color;
                            padding: 10px 5px;
                            height: 25px;
                            font-size: 12px;
                            height: 100%;
                            border: none;
                            margin: 0;
                            > span {
                                display: none;
                            }
                            i {
                                display: inline-block;
                                vertical-align: middle;
                                font-size: 16px;
                            }
                        }
                    }
                }

            }
            .dropdown {
                position: relative;

                &:hover {
                    border-left: 1px solid #E0E0E0;
                    border-right: 1px solid #E0E0E0;
                    background-color: #fff;
                    z-index: 999;
                    > ul {
                        visibility:visible;
                        opacity:1;
                    }
                    > a {
                        background-color: #fff;
                    }
                }
                > a {
                    position: relative;
                    display: block;
                    background-color: transparent;
                    z-index: 33;
                }
                > ul {
                    position: fixed;
                    visibility:hidden;
                    width: 100%;
                    opacity:1;
                    right: 0;
                    left: 0;
                    margin-top: -1px;
                    background-color: #fff;
                    border-bottom: 1px solid #E0E0E0;
                    border-top: 1px solid #E0E0E0;
                    > li {
                        display: block;
                        position: relative;
                        > a {
                            display: block;
                            padding: 5px 10px;
                            text-align: left;
                            color: #6e7277;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .middlebar {
            background-color: transparent;

            .middlebar-menu-left,
            ul.middlebar-menu-right {
                a {
                    display: block;
                    padding: 10px;
                    font-size: 16px!important;
                }
            }
        }
        .logo {
            position: relative;
            padding: 5px;
        }
        ul.middlebar-menu-right {
            li {
                a {
                    font-size: 22px;
                    border-bottom: 1px solid #fff;
                    font-family: @otherFont;
                }
            }
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : @md) {
    .navbar {
        width: 100%;
        z-index: 99;
        background-color: #fff;
        height: auto;

        .container {
            overflow: visible;
        }

        .navbar-hamburger {
            display: none;
        }

        .collapse {
            left: auto!important;
            display: block!important;
        }
    }

    .topbar {
        z-index: 9999;
        padding: 0px;
        width: 100%;
        background-color: #fff;
        height: 52px;
        border-bottom: 1px solid #dfe5e5;
        top: -100px;

        .container {
            position: relative;
        }
        .topbar-menu-left {
            position: absolute;
            font-size: 12px;
            a {
                display: inline-block;
                vertical-align: middle;
                padding: 0px 5px 0px 5px;
                margin: 10px 0px 10px 0px;
                height: 100%;
                font-size: 12px;
                height: 100%;
                color: @topbar-left-link-color;
                &:hover {
                    color: @topbar-left-link-hover-color;
                }
                &:active {
                    color: @topbar-left-link-active-color;
                }
                &:focus {
                    color: @topbar-left-link-focus-color;
                }
            }

        }
        .topbar-menu-right {
            position: absolute;
            padding-right: 10px;
            height: 100%;
            right: 0;
            > ul {
                > li {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    border: 1px solid transparent;
                    > a {
                        &:first-child {
                            padding-left: 0;
                        }
                        display: block;
                        font-size: 12px;
                        padding: 10px 5px;
                        margin: 0;
                        height: 100%;
                        border: none;
                        color: @topbar-right-link-color;
                        border: 1px solid transparent;
                        &:hover {

                            color: @topbar-right-link-hover-color;
                        }
                        &:active {
                            color: @topbar-right-link-active-color;
                        }
                        &:focus {
                            color: @topbar-right-link-focus-color;
                        }
                    }
                    i {
                        display: inline-block;
                        vertical-align: middle;
                        padding-right: 5px;
                    }
                    .icon-chevron-down {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }

            }
        }

        .dropdown {
            &:hover {
                border-left: 1px solid #E0E0E0;
                border-right: 1px solid #E0E0E0;
                z-index: 999;
                > ul {
                    visibility:visible;
                    opacity:1;
                }
            }
            > a {
                position: relative;
                display: block;
                z-index: 33;
            }
            > ul {
                position: absolute;
                visibility:hidden;
                width: 250px;
                opacity:1;
                right: -1px;
                margin-top: -1px;
                background-color: #fff;
                border: 1px solid #E0E0E0;
                > li {
                    display: block;
                    position: relative;

                    &:hover {
                        background-color: #6e7277;
                        a {
                            color: #fff;
                        }
                    }
                    > a {
                        display: block;
                        padding: 5px 10px;
                        text-align: left;
                        color: #6e7277;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .middlebar {
        height: 118px;

        .dropdown {
            position:relative;
            &:hover {
                ul {
                    visibility:visible;
                    opacity:1;
                    background-color: @navbar-dropdown-hover-bg-color;
                }
            }
            ul {
                position: absolute;
                visibility:hidden;
                opacity:0;
                right: 0px;
                z-index: 100;
                li {
                    padding: 0;
                    margin: 0;
                    min-width: 250px;
                    width: 100%;
                    a {
                        display: block;
                        width: 100%;
                        padding: 10px;
                        &:hover {
                            background-color: @navbar-bg-color;
                        }
                    }
                }

            }
        }

        ul.middlebar-menu-left {
            position: absolute;
            height: 100%;
            padding-left: 10px;
            min-width: 200px;
            li {
                display: inline-block;
                vertical-align: middle;
                height: 75px;
                font-size: 12px;
                border: none;
                a {
                    display: block;
                    height: 100%;
                    color: @topbar-right-link-color;
                    &:hover {
                        color: @topbar-right-link-hover-color;
                    }
                    &:active {
                        color: @topbar-right-link-active-color;
                    }
                    &:focus {
                        color: @topbar-right-link-focus-color;
                    }
                }
            }
        }

        ul.middlebar-menu-right {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0;
            padding: 0;

            > li {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                margin-right: -4px;
                > a {
                    text-transform: lowercase;
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    color: @middlebar-link-color;
                    overflow: hidden;
                    padding: 9px 15px 6px;
                    font-size: 16px;
                    font-weight: 500;
                    font-family: @titFont;
                    text-transform: uppercase;
                    transition: color 0.3s ease;

                    &:hover {
                        color: @middlebar-link-hover-color;
                    }
                    &:active {
                        color: @middlebar-link-active-color;
                    }
                    &:focus {
                        color: @middlebar-link-focus-color;
                    }
                }
                i {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 5px;
                }
            }
            .h-search {
                position:  relative;
                width: 220px;

                input[type="text"] {
                    border: none;
                    background: #f0f3f2;
                    font-size: 16px;
                    font-family: @titFont;
                    color: #979797;
                    padding: 0 40px 0 12px;
                    height: 40px;
                    box-sizing: border-box;
                    width: 100%;

                    &::-webkit-input-placeholder {
                        color: #979797;
                        text-transform: uppercase;
                    }

                    &::-moz-placeholder {
                        color: #979797;
                        text-transform: uppercase;
                    }

                    &:-ms-input-placeholder {
                        color: #979797;
                        text-transform: uppercase;
                    }

                    &:-moz-placeholder {
                        color: #979797;
                        text-transform: uppercase;
                    }
                }

                button {
                    background: none;
                    border: none;
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    padding: 0;
                    margin: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    cursor: pointer;
                    outline: none !important;
                    height: 40px;
                    width: 40px;

                    .icon {
                        padding: 0;
                        color: #00a9ce;
                        font-size: 0;
                        height: 100%;
                        width: 100%;
                        line-height: 40px;

                        &:after {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .sticky {
        .topbar {
            transition: all .5s;
            transform: translate3d(0,0,0);
            top: 0;
            left: 0;
            right: 0;
            position: fixed;
        }
    }
}

.navbar-fixed {
    position: fixed;
}

a.logo {
    position: absolute;
    display: block;
    color: @logo-link-color;
    line-height: 70px;
    font-size: 45px;
    img {
        position: relative;
    }
    &:hover {
        color:@logo-link-hover-color;
    }
    &:active {
        color: @logo-link-active-color;
    }
    &:focus {
        color: @logo-link-focus-color;
    }
}