.thumbnail-slider {
    position: relative;
    padding: 20px 5px 5px;
    border-radius: 10px;
    background-color: @thumbnail-slider-bg-color;
    border: 1px solid @thumbnail-slider-border-color;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: left;
    width: 100%;
    .thumbnail-slider-top {
        position: absolute;
        left: 0;
        width: 100%;
        top: -15px;
        z-index: 3;
    }
    .thumbnail-slider-left {
        left: 0;
    }
    .thumbnail-slider-right {
        right: 0;
    }
    .thumbnail-slider-left, .thumbnail-slider-right {
        position: absolute;
        display: block;
        top: 0;
        height: 100%;
        z-index: 2;
        > a {
            display: table;
            height: 100%;
            padding: 0 10px;
            margin-top: -20px;
            i {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    .thumbnail-slider-middle {
        img {
            position: relative;
            left: 0px;
            right: 0px
        }
    }
    .thumbnail-slider-bottom {
        position: relative;
        z-index: 33;
    }
}