#visual {
    background: url(/img/home/img-visual.jpg) no-repeat left bottom;
    background-size: cover;
    width: 100%;
    min-height: 316px;

    .visual-inner {
        padding: 42px 50px 0 50px;
        max-width: 704px;
        width: 100%;

        h1 {
            font-family: @titFont;
            font-size: 44px;
            color: #5c6d71;
            margin: 0 0 14px 0;
            font-weight: 400;
            line-height: normal;

            strong {
                font-weight: 400;
                color: #00a9ce;
            }
        }

        p {
            font-family: @mainFont;
            font-size: 18px;
            color: #262626;
            line-height: 28px;
            margin-bottom: 23px;
        }

        .button {
            font-size: 20px;
            text-transform: uppercase;
        }
    }
}